<div class="container step-wizard-container">
  <form [formGroup]="higherEducationInfoForm">
    <div class="row">
      <!-- <div class="col-md-6 labelRow">
        <div class="matLabelHeight">
          <mat-label>2. {{ lang.language.importantForEducation }}<span
            class="mat-placeholder-required mat-form-field-required-marker"
          >
            *</span
          ></mat-label>
        </div>
        <mat-form-field class="example-full-width" appearance="fill">
          <input
            matInput
            type="text"
            placeholder=""
            value=""
            formControlName="importantForEducation"
          />
        </mat-form-field>

      </div> -->
      <div class="col-md-6 labelRow">
        <div class="matLabelHeight">
          <mat-label
            >4. {{ lang.language.challengesInEducation }}
            <span
              class="mat-placeholder-required mat-form-field-required-marker"
            >
              *</span
            ></mat-label
          >
        </div>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-select
            placeholder=""
            formControlName="challengesInHigherEducation"

          >
            <mat-option
              *ngFor="let item of lang.language.challengesInHigherEducationData"
              [value]="item"
              >{{ item }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-6 labelRow"
       *ngIf="(higherEducationInfoForm.get('challengesInHigherEducation').value.includes('மற்றவை')) ||
       (higherEducationInfoForm.get('challengesInHigherEducation').value.includes('Other'))">
        <div class="matLabelHeight">
          <mat-label>{{ lang.language.other_reason_higher_education }}<span
            class="mat-placeholder-required mat-form-field-required-marker"
          >
            *</span
          ></mat-label>
        </div>
        <mat-form-field class="example-full-width" appearance="fill">
          <input
            matInput
            type="text"
            placeholder=""
            value=""
            formControlName="other_reason_higher_education"
          />
        </mat-form-field>

      </div>
      <div class="col-md-6 labelRow">
        <div class="matLabelHeight">
          <mat-label class="radioLabel"
            >5. {{ lang.language.collegeIdea }}
            <span
              class="mat-placeholder-required mat-form-field-required-marker"
            >
              *</span
            ></mat-label
          >
        </div>
        <mat-radio-group
          aria-label="Select an option"
          formControlName="likedColleges"
        >
          <ng-container *ngFor="let item of lang.language.radioOption">
            <mat-radio-button [value]="item">{{ item }}</mat-radio-button>
          </ng-container>
          <mat-error
            *ngIf="
              submitted && higherEducationInfoForm.get('likedColleges').invalid
            "
            >This field is required</mat-error
          >
        </mat-radio-group>
      </div>
      <!-- <div class="col-md-6 labelRow">
        <div class="matLabelHeight">
          <mat-label class="radioLabel"
            >20. {{ lang.language.graduationAwayFromHometown }}
            <span
              class="mat-placeholder-required mat-form-field-required-marker"
            >
              *</span
            ></mat-label
          >
        </div>
        <mat-radio-group
          aria-label="Select an option"
          formControlName="graduationAwayFromHometown"
        >
          <ng-container *ngFor="let item of lang.language.radioButton">
            <mat-radio-button [value]="item">{{ item }}</mat-radio-button>
          </ng-container>
          <mat-error
            *ngIf="
              submitted &&
              higherEducationInfoForm.get('graduationAwayFromHometown').invalid
            "
            >This field is required</mat-error
          >
        </mat-radio-group>
      </div> -->

      <!-- <div
      class="col-md-12 labelRow"
    >
      <div class="mb-3">
        <mat-label>6. {{
          lang.language.accessedGovtSchemes
        }}
        <span
        class="mat-placeholder-required mat-form-field-required-marker"
      >
        *</span
      ></mat-label>
      </div> -->
      <!-- <div class="col-md-12 labelRow">
        <table class="table table-striped" style="width: 100%;">
          <tr>
            <th style="width:70%">Govt schemes</th>
            <th style="width:15%;text-align: center;">{{ lang.language.radioButton[0] }}</th>
            <th style="width:15%;text-align:center;">{{ lang.language.radioButton[1] }}</th>
          </tr>
          <tr>
            <td>a) {{ lang.language.schemeData[0] }}
              <span
                class="mat-placeholder-required mat-form-field-required-marker"
              >
                *</span
              ></td>
            <td colspan="2"> <mat-radio-group
              aria-label="Select an option"
              formControlName="uniform"
            >
            <mat-radio-button [value]="lang.language.radioButton[0]"></mat-radio-button>
            <mat-radio-button [value]="lang.language.radioButton[1]"></mat-radio-button>
             <div> <mat-error
                *ngIf="
                  submitted &&
                  higherEducationInfoForm.get('uniform')?.invalid
                "
                >This field is required</mat-error
              ></div>
            </mat-radio-group></td>
          </tr>
          <tr>
            <td>b) {{ lang.language.schemeData[1] }}
              <span
                class="mat-placeholder-required mat-form-field-required-marker"
              >
                *</span
              ></td>
            <td colspan="2"><mat-radio-group
              aria-label="Select an option"
              formControlName="bookbags_bages"
            >
            <mat-radio-button [value]="lang.language.radioButton[0]"></mat-radio-button>
            <mat-radio-button [value]="lang.language.radioButton[1]"></mat-radio-button>
             <div> <mat-error
                *ngIf="
                  submitted &&
                  higherEducationInfoForm.get('bookbags_bages')?.invalid
                "
                >This field is required</mat-error
              ></div>
            </mat-radio-group></td>
          </tr>
          <tr>
            <td>c) {{ lang.language.schemeData[2] }}
              <span
                class="mat-placeholder-required mat-form-field-required-marker"
              >
                *</span
              ></td>
            <td colspan="2"><mat-radio-group
              aria-label="Select an option"
              formControlName="nutrition"
            >
            <mat-radio-button [value]="lang.language.radioButton[0]"></mat-radio-button>
            <mat-radio-button [value]="lang.language.radioButton[1]"></mat-radio-button>
             <div> <mat-error
                *ngIf="
                  submitted &&
                  higherEducationInfoForm.get('nutrition')?.invalid
                "
                >This field is required</mat-error
              ></div>
            </mat-radio-group></td>
          </tr>
          <tr>
            <td>d) {{ lang.language.schemeData[3] }}
              <span
                class="mat-placeholder-required mat-form-field-required-marker"
              >
                *</span
              ></td>
            <td colspan="2"><mat-radio-group
              aria-label="Select an option"
              formControlName="laptop"
            >
            <mat-radio-button [value]="lang.language.radioButton[0]"></mat-radio-button>
            <mat-radio-button [value]="lang.language.radioButton[1]"></mat-radio-button>
             <div> <mat-error
                *ngIf="
                  submitted &&
                  higherEducationInfoForm.get('laptop')?.invalid
                "
                >This field is required</mat-error
              ></div>
            </mat-radio-group></td>
          </tr>
          <tr>
            <td>e) {{ lang.language.schemeData[4] }}
              <span
                class="mat-placeholder-required mat-form-field-required-marker"
              >
                *</span
              ></td>
            <td colspan="2"> <mat-radio-group
              aria-label="Select an option"
              formControlName="bicycle"
            >
            <mat-radio-button [value]="lang.language.radioButton[0]"></mat-radio-button>
            <mat-radio-button [value]="lang.language.radioButton[1]"></mat-radio-button>
             <div> <mat-error
                *ngIf="
                  submitted &&
                  higherEducationInfoForm.get('bicycle')?.invalid
                "
                >This field is required</mat-error
              ></div>
            </mat-radio-group></td>
          </tr>
          <tr>
            <td>f) {{ lang.language.schemeData[5] }}
              <span
                class="mat-placeholder-required mat-form-field-required-marker"
              >
                *</span
              ></td>
            <td colspan="2"> <mat-radio-group
              aria-label="Select an option"
              formControlName="backward_or_tribal_scholorship"
            >
            <mat-radio-button [value]="lang.language.radioButton[0]"></mat-radio-button>
            <mat-radio-button [value]="lang.language.radioButton[1]"></mat-radio-button>
             <div> <mat-error
                *ngIf="
                  submitted &&
                  higherEducationInfoForm.get('backward_or_tribal_scholorship')?.invalid
                "
                >This field is required</mat-error
              ></div>
            </mat-radio-group></td>
          </tr>
          <tr>
            <td>g) {{ lang.language.schemeData[6] }}
              <span
                class="mat-placeholder-required mat-form-field-required-marker"
              >
                *</span
              ></td>
            <td colspan="2"><mat-radio-group
              aria-label="Select an option"
              formControlName="selva_daughter_scheme"
            >
            <mat-radio-button [value]="lang.language.radioButton[0]"></mat-radio-button>
            <mat-radio-button [value]="lang.language.radioButton[1]"></mat-radio-button>
             <div> <mat-error
                *ngIf="
                  submitted &&
                  higherEducationInfoForm.get('selva_daughter_scheme')?.invalid
                "
                >This field is required</mat-error
              ></div>
            </mat-radio-group></td>
          </tr>
          <tr>
            <td>h) {{ lang.language.schemeData[7] }}
              <span
                class="mat-placeholder-required mat-form-field-required-marker"
              >
                *</span
              ></td>
            <td colspan="2"><mat-radio-group
              aria-label="Select an option"
              formControlName="cm_breakfast_scheme"
            >
            <mat-radio-button [value]="lang.language.radioButton[0]"></mat-radio-button>
            <mat-radio-button [value]="lang.language.radioButton[1]"></mat-radio-button>
             <div> <mat-error
                *ngIf="
                  submitted &&
                  higherEducationInfoForm.get('cm_breakfast_scheme')?.invalid
                "
                >This field is required</mat-error
              ></div>
            </mat-radio-group></td>
          </tr>
          <tr>
            <td>i) {{ lang.language.schemeData[8] }}
              <span
                class="mat-placeholder-required mat-form-field-required-marker"
              >
                *</span
              ></td>
            <td colspan="2"><mat-radio-group
              aria-label="Select an option"
              formControlName="special_incentives"
            >
            <mat-radio-button [value]="lang.language.radioButton[0]"></mat-radio-button>
            <mat-radio-button [value]="lang.language.radioButton[1]"></mat-radio-button>
             <div> <mat-error
                *ngIf="
                  submitted &&
                  higherEducationInfoForm.get('special_incentives')?.invalid
                "
                >This field is required</mat-error
              ></div>
            </mat-radio-group></td>
          </tr>
          <tr>
            <td>j) {{ lang.language.schemeData[9] }}
              <span
                class="mat-placeholder-required mat-form-field-required-marker"
              >
                *</span
              ></td>
            <td colspan="2"><mat-radio-group
              aria-label="Select an option"
              formControlName="shoes"
            >
            <mat-radio-button [value]="lang.language.radioButton[0]"></mat-radio-button>
            <mat-radio-button [value]="lang.language.radioButton[1]"></mat-radio-button>
             <div> <mat-error
                *ngIf="
                  submitted &&
                  higherEducationInfoForm.get('shoes')?.invalid
                "
                >This field is required</mat-error
              ></div>
            </mat-radio-group></td>
          </tr>
          <tr>
            <td>k) {{ lang.language.schemeData[10] }}
              <span
                class="mat-placeholder-required mat-form-field-required-marker"
              >
                *</span
              ></td>
            <td colspan="2"><mat-radio-group
              aria-label="Select an option"
              formControlName="mathematical_toolbox"
            >
            <mat-radio-button [value]="lang.language.radioButton[0]"></mat-radio-button>
            <mat-radio-button [value]="lang.language.radioButton[1]"></mat-radio-button>
             <div> <mat-error
                *ngIf="
                  submitted &&
                  higherEducationInfoForm.get('mathematical_toolbox')?.invalid
                "
                >This field is required</mat-error
              ></div>
            </mat-radio-group></td>
          </tr>
          <tr>
            <td>l) {{ lang.language.schemeData[11] }}
              <span
                class="mat-placeholder-required mat-form-field-required-marker"
              >
                *</span
              ></td>
            <td colspan="2">  <mat-radio-group
              aria-label="Select an option"
              formControlName="bus_travel_card"
            >
            <mat-radio-button [value]="lang.language.radioButton[0]"></mat-radio-button>
            <mat-radio-button [value]="lang.language.radioButton[1]"></mat-radio-button>
             <div> <mat-error
                *ngIf="
                  submitted &&
                  higherEducationInfoForm.get('bus_travel_card')?.invalid
                "
                >This field is required</mat-error
              ></div>
            </mat-radio-group></td>
          </tr>
          <tr>
            <td>m) {{ lang.language.schemeData[12] }}
              <span
                class="mat-placeholder-required mat-form-field-required-marker"
              >
                *</span
              ></td>
            <td colspan="2"><mat-radio-group
              aria-label="Select an option"
              formControlName="financial_assistance_lost_parents"
            >
            <mat-radio-button [value]="lang.language.radioButton[0]"></mat-radio-button>
            <mat-radio-button [value]="lang.language.radioButton[1]"></mat-radio-button>
             <div> <mat-error
                *ngIf="
                  submitted &&
                  higherEducationInfoForm.get('financial_assistance_lost_parents')?.invalid
                "
                >This field is required</mat-error
              ></div>
            </mat-radio-group></td>
          </tr>
          <tr>
            <td>n) {{ lang.language.schemeData[13] }}
              <span
                class="mat-placeholder-required mat-form-field-required-marker"
              >
                *</span
              ></td>
            <td colspan="2"><mat-radio-group
              aria-label="Select an option"
              formControlName="financial_assistance_lost_parents_corona"
            >
            <mat-radio-button [value]="lang.language.radioButton[0]"></mat-radio-button>
            <mat-radio-button [value]="lang.language.radioButton[1]"></mat-radio-button>
             <div> <mat-error
                *ngIf="
                  submitted &&
                  higherEducationInfoForm.get('financial_assistance_lost_parents_corona')?.invalid
                "
                >This field is required</mat-error
              ></div>
            </mat-radio-group></td>
          </tr>
        </table>
      </div> -->
      <!-- <div class="col-md-12 labelRow">
        <div class="">
          <mat-label class="radioLabel"
            >a) {{ lang.language.schemeData[0] }}
            <span
              class="mat-placeholder-required mat-form-field-required-marker"
            >
              *</span
            ></mat-label
          >
        </div>
        <mat-radio-group
          aria-label="Select an option"
          formControlName="uniform"
        >
        <mat-radio-button [value]="lang.language.radioButton[0]">{{ lang.language.radioButton[0] }}</mat-radio-button>
        <mat-radio-button [value]="lang.language.radioButton[1]">{{ lang.language.radioButton[1] }}</mat-radio-button>
         <div> <mat-error
            *ngIf="
              submitted &&
              higherEducationInfoForm.get('uniform')?.invalid
            "
            >This field is required</mat-error
          ></div>
        </mat-radio-group>
      </div>
      <div class="col-md-12 labelRow">
        <div class="">
          <mat-label class="radioLabel"
            >b) {{ lang.language.schemeData[1] }}
            <span
              class="mat-placeholder-required mat-form-field-required-marker"
            >
              *</span
            ></mat-label
          >
        </div>
        <mat-radio-group
          aria-label="Select an option"
          formControlName="bookbags_bages"
        >
        <mat-radio-button [value]="lang.language.radioButton[0]">{{ lang.language.radioButton[0] }}</mat-radio-button>
        <mat-radio-button [value]="lang.language.radioButton[1]">{{ lang.language.radioButton[1] }}</mat-radio-button>
         <div> <mat-error
            *ngIf="
              submitted &&
              higherEducationInfoForm.get('bookbags_bages')?.invalid
            "
            >This field is required</mat-error
          ></div>
        </mat-radio-group>
      </div>
      <div class="col-md-12 labelRow">
        <div class="">
          <mat-label class="radioLabel"
            >c) {{ lang.language.schemeData[2] }}
            <span
              class="mat-placeholder-required mat-form-field-required-marker"
            >
              *</span
            ></mat-label
          >
        </div>
        <mat-radio-group
          aria-label="Select an option"
          formControlName="nutrition"
        >
        <mat-radio-button [value]="lang.language.radioButton[0]">{{ lang.language.radioButton[0] }}</mat-radio-button>
        <mat-radio-button [value]="lang.language.radioButton[1]">{{ lang.language.radioButton[1] }}</mat-radio-button>
         <div> <mat-error
            *ngIf="
              submitted &&
              higherEducationInfoForm.get('nutrition')?.invalid
            "
            >This field is required</mat-error
          ></div>
        </mat-radio-group>
      </div>
      <div class="col-md-12 labelRow">
        <div class="">
          <mat-label class="radioLabel"
            >d) {{ lang.language.schemeData[3] }}
            <span
              class="mat-placeholder-required mat-form-field-required-marker"
            >
              *</span
            ></mat-label
          >
        </div>
        <mat-radio-group
          aria-label="Select an option"
          formControlName="laptop"
        >
        <mat-radio-button [value]="lang.language.radioButton[0]">{{ lang.language.radioButton[0] }}</mat-radio-button>
        <mat-radio-button [value]="lang.language.radioButton[1]">{{ lang.language.radioButton[1] }}</mat-radio-button>
         <div> <mat-error
            *ngIf="
              submitted &&
              higherEducationInfoForm.get('laptop')?.invalid
            "
            >This field is required</mat-error
          ></div>
        </mat-radio-group>
      </div>
      <div class="col-md-12 labelRow">
        <div class="">
          <mat-label class="radioLabel"
            >e) {{ lang.language.schemeData[4] }}
            <span
              class="mat-placeholder-required mat-form-field-required-marker"
            >
              *</span
            ></mat-label
          >
        </div>
        <mat-radio-group
          aria-label="Select an option"
          formControlName="bicycle"
        >
        <mat-radio-button [value]="lang.language.radioButton[0]">{{ lang.language.radioButton[0] }}</mat-radio-button>
        <mat-radio-button [value]="lang.language.radioButton[1]">{{ lang.language.radioButton[1] }}</mat-radio-button>
         <div> <mat-error
            *ngIf="
              submitted &&
              higherEducationInfoForm.get('bicycle')?.invalid
            "
            >This field is required</mat-error
          ></div>
        </mat-radio-group>
      </div>
      <div class="col-md-12 labelRow">
        <div class="">
          <mat-label class="radioLabel"
            >f) {{ lang.language.schemeData[5] }}
            <span
              class="mat-placeholder-required mat-form-field-required-marker"
            >
              *</span
            ></mat-label
          >
        </div>
        <mat-radio-group
          aria-label="Select an option"
          formControlName="backward_or_tribal_scholorship"
        >
        <mat-radio-button [value]="lang.language.radioButton[0]">{{ lang.language.radioButton[0] }}</mat-radio-button>
        <mat-radio-button [value]="lang.language.radioButton[1]">{{ lang.language.radioButton[1] }}</mat-radio-button>
         <div> <mat-error
            *ngIf="
              submitted &&
              higherEducationInfoForm.get('backward_or_tribal_scholorship')?.invalid
            "
            >This field is required</mat-error
          ></div>
        </mat-radio-group>
      </div>
      <div class="col-md-12 labelRow">
        <div class="">
          <mat-label class="radioLabel"
            >g) {{ lang.language.schemeData[6] }}
            <span
              class="mat-placeholder-required mat-form-field-required-marker"
            >
              *</span
            ></mat-label
          >
        </div>
        <mat-radio-group
          aria-label="Select an option"
          formControlName="selva_daughter_scheme"
        >
        <mat-radio-button [value]="lang.language.radioButton[0]">{{ lang.language.radioButton[0] }}</mat-radio-button>
        <mat-radio-button [value]="lang.language.radioButton[1]">{{ lang.language.radioButton[1] }}</mat-radio-button>
         <div> <mat-error
            *ngIf="
              submitted &&
              higherEducationInfoForm.get('selva_daughter_scheme')?.invalid
            "
            >This field is required</mat-error
          ></div>
        </mat-radio-group>
      </div>
      <div class="col-md-12 labelRow">
        <div class="">
          <mat-label class="radioLabel"
            >h) {{ lang.language.schemeData[7] }}
            <span
              class="mat-placeholder-required mat-form-field-required-marker"
            >
              *</span
            ></mat-label
          >
        </div>
        <mat-radio-group
          aria-label="Select an option"
          formControlName="cm_breakfast_scheme"
        >
        <mat-radio-button [value]="lang.language.radioButton[0]">{{ lang.language.radioButton[0] }}</mat-radio-button>
        <mat-radio-button [value]="lang.language.radioButton[1]">{{ lang.language.radioButton[1] }}</mat-radio-button>
         <div> <mat-error
            *ngIf="
              submitted &&
              higherEducationInfoForm.get('cm_breakfast_scheme')?.invalid
            "
            >This field is required</mat-error
          ></div>
        </mat-radio-group>
      </div>
      <div class="col-md-12 labelRow">
        <div class="">
          <mat-label class="radioLabel"
            >i) {{ lang.language.schemeData[8] }}
            <span
              class="mat-placeholder-required mat-form-field-required-marker"
            >
              *</span
            ></mat-label
          >
        </div>
        <mat-radio-group
          aria-label="Select an option"
          formControlName="special_incentives"
        >
        <mat-radio-button [value]="lang.language.radioButton[0]">{{ lang.language.radioButton[0] }}</mat-radio-button>
        <mat-radio-button [value]="lang.language.radioButton[1]">{{ lang.language.radioButton[1] }}</mat-radio-button>
         <div> <mat-error
            *ngIf="
              submitted &&
              higherEducationInfoForm.get('special_incentives')?.invalid
            "
            >This field is required</mat-error
          ></div>
        </mat-radio-group>
      </div>
      <div class="col-md-12 labelRow">
        <div class="">
          <mat-label class="radioLabel"
            >j) {{ lang.language.schemeData[9] }}
            <span
              class="mat-placeholder-required mat-form-field-required-marker"
            >
              *</span
            ></mat-label
          >
        </div>
        <mat-radio-group
          aria-label="Select an option"
          formControlName="shoes"
        >
        <mat-radio-button [value]="lang.language.radioButton[0]">{{ lang.language.radioButton[0] }}</mat-radio-button>
        <mat-radio-button [value]="lang.language.radioButton[1]">{{ lang.language.radioButton[1] }}</mat-radio-button>
         <div> <mat-error
            *ngIf="
              submitted &&
              higherEducationInfoForm.get('shoes')?.invalid
            "
            >This field is required</mat-error
          ></div>
        </mat-radio-group>
      </div>
      <div class="col-md-12 labelRow">
        <div class="">
          <mat-label class="radioLabel"
            >k) {{ lang.language.schemeData[10] }}
            <span
              class="mat-placeholder-required mat-form-field-required-marker"
            >
              *</span
            ></mat-label
          >
        </div>
        <mat-radio-group
          aria-label="Select an option"
          formControlName="mathematical_toolbox"
        >
        <mat-radio-button [value]="lang.language.radioButton[0]">{{ lang.language.radioButton[0] }}</mat-radio-button>
        <mat-radio-button [value]="lang.language.radioButton[1]">{{ lang.language.radioButton[1] }}</mat-radio-button>
         <div> <mat-error
            *ngIf="
              submitted &&
              higherEducationInfoForm.get('mathematical_toolbox')?.invalid
            "
            >This field is required</mat-error
          ></div>
        </mat-radio-group>
      </div>
      <div class="col-md-12 labelRow">
        <div class="">
          <mat-label class="radioLabel"
            >l) {{ lang.language.schemeData[11] }}
            <span
              class="mat-placeholder-required mat-form-field-required-marker"
            >
              *</span
            ></mat-label
          >
        </div>
        <mat-radio-group
          aria-label="Select an option"
          formControlName="bus_travel_card"
        >
        <mat-radio-button [value]="lang.language.radioButton[0]">{{ lang.language.radioButton[0] }}</mat-radio-button>
        <mat-radio-button [value]="lang.language.radioButton[1]">{{ lang.language.radioButton[1] }}</mat-radio-button>
         <div> <mat-error
            *ngIf="
              submitted &&
              higherEducationInfoForm.get('bus_travel_card')?.invalid
            "
            >This field is required</mat-error
          ></div>
        </mat-radio-group>
      </div>
      <div class="col-md-12 labelRow">
        <div class="">
          <mat-label class="radioLabel"
            >m) {{ lang.language.schemeData[12] }}
            <span
              class="mat-placeholder-required mat-form-field-required-marker"
            >
              *</span
            ></mat-label
          >
        </div>
        <mat-radio-group
          aria-label="Select an option"
          formControlName="financial_assistance_lost_parents"
        >
        <mat-radio-button [value]="lang.language.radioButton[0]">{{ lang.language.radioButton[0] }}</mat-radio-button>
        <mat-radio-button [value]="lang.language.radioButton[1]">{{ lang.language.radioButton[1] }}</mat-radio-button>
         <div> <mat-error
            *ngIf="
              submitted &&
              higherEducationInfoForm.get('financial_assistance_lost_parents')?.invalid
            "
            >This field is required</mat-error
          ></div>
        </mat-radio-group>
      </div>
      <div class="col-md-12 labelRow">
        <div class="">
          <mat-label class="radioLabel"
            >n) {{ lang.language.schemeData[13] }}
            <span
              class="mat-placeholder-required mat-form-field-required-marker"
            >
              *</span
            ></mat-label
          >
        </div>
        <mat-radio-group
          aria-label="Select an option"
          formControlName="financial_assistance_lost_parents_corona"
        >
        <mat-radio-button [value]="lang.language.radioButton[0]">{{ lang.language.radioButton[0] }}</mat-radio-button>
        <mat-radio-button [value]="lang.language.radioButton[1]">{{ lang.language.radioButton[1] }}</mat-radio-button>
         <div> <mat-error
            *ngIf="
              submitted &&
              higherEducationInfoForm.get('financial_assistance_lost_parents_corona')?.invalid
            "
            >This field is required</mat-error
          ></div>
        </mat-radio-group>
      </div> -->
      <!-- </div> -->
      <!-- <div
      class="col-md-6 labelRow"
    >
      <div class="matLabelHeight">
        <mat-label>19. {{
          lang.language.accessedGovtSchemes
        }}
        <span
        class="mat-placeholder-required mat-form-field-required-marker"
      >
        *</span
      ></mat-label>
      </div>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-select
          placeholder=""
          formControlName="accessedGoverementSchemes"
          multiple

        >
          <mat-option *ngFor="let item of lang.language.schemeData" [value]="item">{{
            item
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div> -->
    <div
    class="col-md-12 labelRow"
  >
    <div class="matLabelHeight">
      <mat-label>6. {{
        lang.language.awareSchemes
      }}<span
      class="mat-placeholder-required mat-form-field-required-marker"
    >
      *</span
    ></mat-label>
    </div>
    <div class="col-md-12 labelRow">
      <table class="table table-striped" style="width: 100%;">
        <tr >
          <th class="mb-2" style="width:70%">Govt schemes</th>
          <th style="width:15%;text-align: center;">{{ lang.language.govtSchemeRadioButton[0] }}</th>
          <th style="width:15%;text-align:center;">{{ lang.language.govtSchemeRadioButton[1] }}</th>
        </tr>
        <tr>
          <td >a) {{ lang.language.awareGovtSchemes[0] }}
            <span
              class="mat-placeholder-required mat-form-field-required-marker"
            >
              *</span
            ></td>
          <td colspan="2" >
            <mat-radio-group
            aria-label="Select an option"
            formControlName="reservation_for_govt_school"
          >
          <mat-radio-button [value]="lang.language.radioButton[0]"></mat-radio-button>
          <mat-radio-button [value]="lang.language.radioButton[1]"></mat-radio-button>
           <div> <mat-error
              *ngIf="
                submitted &&
                higherEducationInfoForm.get('reservation_for_govt_school')?.invalid
              "
              >This field is required</mat-error
            ></div>
          </mat-radio-group></td>
        </tr>
        <tr>
          <td>b) {{ lang.language.awareGovtSchemes[1] }}
            <span
              class="mat-placeholder-required mat-form-field-required-marker"
            >
              *</span
            ></td>
          <td colspan="2"><mat-radio-group
            aria-label="Select an option"
            formControlName="pudhumai_penn_scheme"
          >
          <mat-radio-button [value]="lang.language.radioButton[0]"></mat-radio-button>
          <mat-radio-button [value]="lang.language.radioButton[1]"></mat-radio-button>
           <div> <mat-error
              *ngIf="
                submitted &&
                higherEducationInfoForm.get('pudhumai_penn_scheme')?.invalid
              "
              >This field is required</mat-error
            ></div>
          </mat-radio-group></td>
        </tr>
        <tr>
          <td>c) {{ lang.language.awareGovtSchemes[2] }}
            <span
              class="mat-placeholder-required mat-form-field-required-marker"
            >
              *</span
            ></td>
          <td colspan="2"><mat-radio-group
            aria-label="Select an option"
            formControlName="vidyalakshmi_education_loan_scheme"
          >
          <mat-radio-button [value]="lang.language.radioButton[0]"></mat-radio-button>
          <mat-radio-button [value]="lang.language.radioButton[1]"></mat-radio-button>
           <div> <mat-error
              *ngIf="
                submitted &&
                higherEducationInfoForm.get('vidyalakshmi_education_loan_scheme')?.invalid
              "
              >This field is required</mat-error
            ></div>
          </mat-radio-group></td>
        </tr>
        <tr>
          <td>d) {{ lang.language.awareGovtSchemes[3] }}
            <span
              class="mat-placeholder-required mat-form-field-required-marker"
            >
              *</span
            ></td>
          <td colspan="2"><mat-radio-group
            aria-label="Select an option"
            formControlName="stipend_for_first_graduate"
          >
          <mat-radio-button [value]="lang.language.radioButton[0]"></mat-radio-button>
          <mat-radio-button [value]="lang.language.radioButton[1]"></mat-radio-button>
           <div> <mat-error
              *ngIf="
                submitted &&
                higherEducationInfoForm.get('stipend_for_first_graduate')?.invalid
              "
              >This field is required</mat-error
            ></div>
          </mat-radio-group></td>
        </tr>
        <tr>
          <td>e) {{ lang.language.awareGovtSchemes[4] }}
            <span
              class="mat-placeholder-required mat-form-field-required-marker"
            >
              *</span
            ></td>
          <td colspan="2"> <mat-radio-group
            aria-label="Select an option"
            formControlName="postmatric_scholarships"
          >
          <mat-radio-button [value]="lang.language.radioButton[0]"></mat-radio-button>
          <mat-radio-button [value]="lang.language.radioButton[1]"></mat-radio-button>
           <div> <mat-error
              *ngIf="
                submitted &&
                higherEducationInfoForm.get('postmatric_scholarships')?.invalid
              "
              >This field is required</mat-error
            ></div>
          </mat-radio-group></td>
        </tr>
        <tr>
          <td>f) {{ lang.language.awareGovtSchemes[5] }}
            <span
              class="mat-placeholder-required mat-form-field-required-marker"
            >
              *</span
            ></td>
          <td colspan="2"> <mat-radio-group
            aria-label="Select an option"
            formControlName="five_percent_seats_with_benchmark_disabilities"
          >
          <mat-radio-button [value]="lang.language.radioButton[0]"></mat-radio-button>
          <mat-radio-button [value]="lang.language.radioButton[1]"></mat-radio-button>
           <div> <mat-error
              *ngIf="
                submitted &&
                higherEducationInfoForm.get('five_percent_seats_with_benchmark_disabilities')?.invalid
              "
              >This field is required</mat-error
            ></div>
          </mat-radio-group></td>
        </tr>
        <tr>
          <td></td>
          <td colspan="2"></td>
        </tr>
      </table>
      </div>
    <!-- <div class="col-md-12 labelRow">
      <div class="">
        <mat-label class="radioLabel"
          >a) {{ lang.language.awareGovtSchemes[0] }}
          <span
            class="mat-placeholder-required mat-form-field-required-marker"
          >
            *</span
          ></mat-label
        >
      </div>
      <mat-radio-group
        aria-label="Select an option"
        formControlName="reservation_for_govt_school"
      >
      <mat-radio-button [value]="lang.language.radioButton[0]">{{ lang.language.radioButton[0] }}</mat-radio-button>
      <mat-radio-button [value]="lang.language.radioButton[1]">{{ lang.language.radioButton[1] }}</mat-radio-button>
       <div> <mat-error
          *ngIf="
            submitted &&
            higherEducationInfoForm.get('reservation_for_govt_school')?.invalid
          "
          >This field is required</mat-error
        ></div>
      </mat-radio-group>
    </div>
    <div class="col-md-12 labelRow">
      <div class="">
        <mat-label class="radioLabel"
          >{{ lang.language.awareGovtSchemes[1] }}
          <span
            class="mat-placeholder-required mat-form-field-required-marker"
          >
            *</span
          ></mat-label
        >
      </div>
      <mat-radio-group
        aria-label="Select an option"
        formControlName="pudhumai_penn_scheme"
      >
      <mat-radio-button [value]="lang.language.radioButton[0]">{{ lang.language.radioButton[0] }}</mat-radio-button>
      <mat-radio-button [value]="lang.language.radioButton[1]">{{ lang.language.radioButton[1] }}</mat-radio-button>
       <div> <mat-error
          *ngIf="
            submitted &&
            higherEducationInfoForm.get('pudhumai_penn_scheme')?.invalid
          "
          >This field is required</mat-error
        ></div>
      </mat-radio-group>
    </div>
    <div class="col-md-12 labelRow">
      <div class="">
        <mat-label class="radioLabel"
          >b) {{ lang.language.awareGovtSchemes[2] }}
          <span
            class="mat-placeholder-required mat-form-field-required-marker"
          >
            *</span
          ></mat-label
        >
      </div>
      <mat-radio-group
        aria-label="Select an option"
        formControlName="vidyalakshmi_education_loan_scheme"
      >
      <mat-radio-button [value]="lang.language.radioButton[0]">{{ lang.language.radioButton[0] }}</mat-radio-button>
      <mat-radio-button [value]="lang.language.radioButton[1]">{{ lang.language.radioButton[1] }}</mat-radio-button>
       <div> <mat-error
          *ngIf="
            submitted &&
            higherEducationInfoForm.get('vidyalakshmi_education_loan_scheme')?.invalid
          "
          >This field is required</mat-error
        ></div>
      </mat-radio-group>
    </div>
    <div class="col-md-12 labelRow">
      <div class="">
        <mat-label class="radioLabel"
          >{{ lang.language.awareGovtSchemes[3] }}
          <span
            class="mat-placeholder-required mat-form-field-required-marker"
          >
            *</span
          ></mat-label
        >
      </div>
      <mat-radio-group
        aria-label="Select an option"
        formControlName="stipend_for_first_graduate"
      >
      <mat-radio-button [value]="lang.language.radioButton[0]">{{ lang.language.radioButton[0] }}</mat-radio-button>
      <mat-radio-button [value]="lang.language.radioButton[1]">{{ lang.language.radioButton[1] }}</mat-radio-button>
       <div> <mat-error
          *ngIf="
            submitted &&
            higherEducationInfoForm.get('stipend_for_first_graduate')?.invalid
          "
          >This field is required</mat-error
        ></div>
      </mat-radio-group>
    </div>
    <div class="col-md-12 labelRow">
      <div class="">
        <mat-label class="radioLabel"
          >c) {{ lang.language.awareGovtSchemes[4] }}
          <span
            class="mat-placeholder-required mat-form-field-required-marker"
          >
            *</span
          ></mat-label
        >
      </div>
      <mat-radio-group
        aria-label="Select an option"
        formControlName="postmatric_scholarships"
      >
      <mat-radio-button [value]="lang.language.radioButton[0]">{{ lang.language.radioButton[0] }}</mat-radio-button>
      <mat-radio-button [value]="lang.language.radioButton[1]">{{ lang.language.radioButton[1] }}</mat-radio-button>
       <div> <mat-error
          *ngIf="
            submitted &&
            higherEducationInfoForm.get('postmatric_scholarships')?.invalid
          "
          >This field is required</mat-error
        ></div>
      </mat-radio-group>
    </div>
    <div class="col-md-12 labelRow">
      <div class="">
        <mat-label class="radioLabel"
          >d) {{ lang.language.awareGovtSchemes[5] }}
          <span
            class="mat-placeholder-required mat-form-field-required-marker"
          >
            *</span
          ></mat-label
        >
      </div>
      <mat-radio-group
        aria-label="Select an option"
        formControlName="five_percent_seats_with_benchmark_disabilities"
      >
      <mat-radio-button [value]="lang.language.radioButton[0]">{{ lang.language.radioButton[0] }}</mat-radio-button>
      <mat-radio-button [value]="lang.language.radioButton[1]">{{ lang.language.radioButton[1] }}</mat-radio-button>
       <div> <mat-error
          *ngIf="
            submitted &&
            higherEducationInfoForm.get('five_percent_seats_with_benchmark_disabilities')?.invalid
          "
          >This field is required</mat-error
        ></div>
      </mat-radio-group>
    </div> -->
    </div>
    <!-- <div
    class="col-md-12 labelRow"
  >
    <div class="matLabelHeight">
      <mat-label>20. {{
        lang.language.awareSchemes
      }}<span
      class="mat-placeholder-required mat-form-field-required-marker"
    >
      *</span
    ></mat-label>
    </div>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-select
        placeholder=""
        formControlName="awareGovtSchemes"
        multiple

      >
        <mat-option *ngFor="let item of lang.language.awareGovtSchemes" [value]="item">{{
          item
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div> -->
  <!-- <div class="col-md-6 labelRow
  ">
    <div class="matLabelHeight">
      <mat-label
        >21. {{ lang.language.requireDocument }}
        <span
          class="mat-placeholder-required mat-form-field-required-marker"
        >
          *</span
        ></mat-label
      >
    </div>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-select
        placeholder=""
        formControlName="documentList"
        multiple
      >
        <mat-option
          *ngFor="let item of lang.language.requireDocumentData"
          [value]="item"
          >{{ item }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </div> -->


    </div>
    <p class="mat-danger labelRow">(*) mandatory</p>
    <div class="matLabelHeight">
      <button mat-button class="matButton " (click)="onClickNext()">Next</button>
      <button mat-button class="matBackButton float-left" (click)="onClickBack()">
        Back
      </button>
    </div>
  </form>
</div>
