<div class="container step-wizard-container">
  <form [formGroup]="carrerInfoForm">
    <div class="row">

      <div class="col-md-12 labelRow">
        <div>
          <mat-label
            >16. {{ lang.language.entranceGovExam }}
            <span
              class="mat-placeholder-required mat-form-field-required-marker"
            >
              *</span
            ></mat-label
          >
        </div>
        <div class="col-md-12">
          <table class="table" style="width: 100%;">
            <tr>
              <th style="width:70%;">Document</th>
              <th style="width:15%;text-align: center;padding-left: 1.5rem;">{{ lang.language.radioButton[0] }}</th>
              <th style="width:15%;">{{ lang.language.radioButton[1] }}</th>
            </tr>
            <tr>
              <td>a) {{ lang.language.entranceGovExamJobsData[0] }}
                <span
                  class="mat-placeholder-required mat-form-field-required-marker"
                >
                  *</span
                ></td>
               <td colspan="2"> <mat-radio-group
                aria-label="Select an option"
                formControlName="tnpsc_exam"
              >
    
                <mat-radio-button [value]="lang.language.radioButton[0]"></mat-radio-button>
                <mat-radio-button [value]="lang.language.radioButton[1]"></mat-radio-button>
               <div> <mat-error  *ngIf=" submitted && carrerInfoForm.get('tnpsc_exam')?.invalid " >This field is required</mat-error
                ></div>
              </mat-radio-group></td>
            </tr>
            <tr>
              <td>b) {{ lang.language.entranceGovExamJobsData[1] }}
                <span
                  class="mat-placeholder-required mat-form-field-required-marker"
                >
                  *</span
                ></td>
               <td colspan="2"><mat-radio-group
                aria-label="Select an option"
                formControlName="trb_exam"
              >
    
                <mat-radio-button [value]="lang.language.radioButton[0]"></mat-radio-button>
                <mat-radio-button [value]="lang.language.radioButton[1]"></mat-radio-button>
               <div> <mat-error
                  *ngIf="
                    submitted &&
                    carrerInfoForm.get('trb_exam')?.invalid
                  "
                  >This field is required</mat-error
                ></div>
              </mat-radio-group></td>
            </tr>
            <tr>
              <td>c) {{ lang.language.entranceGovExamJobsData[2] }}
                <span
                  class="mat-placeholder-required mat-form-field-required-marker"
                >
                  *</span
                ></td>
               <td colspan="2"><mat-radio-group
                aria-label="Select an option"
                formControlName="tnusrb_exam"
              >
    
                <mat-radio-button [value]="lang.language.radioButton[0]"></mat-radio-button>
                <mat-radio-button [value]="lang.language.radioButton[1]"></mat-radio-button>
               <div> <mat-error
                  *ngIf="
                    submitted &&
                    carrerInfoForm.get('tnusrb_exam')?.invalid
                  "
                  >This field is required</mat-error
                ></div>
              </mat-radio-group></td>
            </tr>
            <tr>
              <td>d) {{ lang.language.entranceGovExamJobsData[3] }}
                <span
                  class="mat-placeholder-required mat-form-field-required-marker"
                >
                  *</span
                ></td>
               <td colspan="2"> <mat-radio-group
                aria-label="Select an option"
                formControlName="ssc_exam"
              >
    
                <mat-radio-button [value]="lang.language.radioButton[0]"></mat-radio-button>
                <mat-radio-button [value]="lang.language.radioButton[1]"></mat-radio-button>
               <div> <mat-error
                  *ngIf="
                    submitted &&
                    carrerInfoForm.get('ssc_exam')?.invalid
                  "
                  >This field is required</mat-error
                ></div>
              </mat-radio-group></td>
            </tr>
            <tr>
              <td>e) {{ lang.language.entranceGovExamJobsData[4] }}
                <span
                  class="mat-placeholder-required mat-form-field-required-marker"
                >
                  *</span
                ></td>
               <td colspan="2"><mat-radio-group
                aria-label="Select an option"
                formControlName="upsc_exam"
              >
    
                <mat-radio-button [value]="lang.language.radioButton[0]"></mat-radio-button>
                <mat-radio-button [value]="lang.language.radioButton[1]"></mat-radio-button>
               <div> <mat-error
                  *ngIf="
                    submitted &&
                    carrerInfoForm.get('upsc_exam')?.invalid
                  "
                  >This field is required</mat-error
                ></div>
              </mat-radio-group></td>
            </tr>
            <tr>
              <td>f) {{ lang.language.entranceGovExamJobsData[5] }}
                <span
                  class="mat-placeholder-required mat-form-field-required-marker"
                >
                  *</span
                ></td>
               <td colspan="2"><mat-radio-group
                aria-label="Select an option"
                formControlName="rrb_exam"
              >
    
                <mat-radio-button [value]="lang.language.radioButton[0]"></mat-radio-button>
                <mat-radio-button [value]="lang.language.radioButton[1]"></mat-radio-button>
               <div> <mat-error
                  *ngIf="
                    submitted &&
                    carrerInfoForm.get('rrb_exam')?.invalid
                  "
                  >This field is required</mat-error
                ></div>
              </mat-radio-group></td>
            </tr>
            <tr>
              <td>g) {{ lang.language.entranceGovExamJobsData[6] }}
                <span
                  class="mat-placeholder-required mat-form-field-required-marker"
                >
                  *</span
                ></td>
               <td colspan="2"><mat-radio-group
                aria-label="Select an option"
                formControlName="ipbs_exam"
              >
    
                <mat-radio-button [value]="lang.language.radioButton[0]"></mat-radio-button>
                <mat-radio-button [value]="lang.language.radioButton[1]"></mat-radio-button>
               <div> <mat-error
                  *ngIf="
                    submitted &&
                    carrerInfoForm.get('ipbs_exam')?.invalid
                  "
                  >This field is required</mat-error
                ></div>
              </mat-radio-group></td>
            </tr>
            <tr>
              <td>h) {{ lang.language.entranceGovExamJobsData[7] }}
                <span
                  class="mat-placeholder-required mat-form-field-required-marker"
                >
                  *</span
                ></td>
               <td colspan="2"> <mat-radio-group
                aria-label="Select an option"
                formControlName="nda_exam"
              >
    
                <mat-radio-button [value]="lang.language.radioButton[0]"></mat-radio-button>
                <mat-radio-button [value]="lang.language.radioButton[1]"></mat-radio-button>
               <div> <mat-error
                  *ngIf="
                    submitted &&
                    carrerInfoForm.get('nda_exam')?.invalid
                  "
                  >This field is required</mat-error
                ></div>
              </mat-radio-group></td>
            </tr>
            <tr>
              <td>i) {{ lang.language.entranceGovExamJobsData[8] }}
                <span
                  class="mat-placeholder-required mat-form-field-required-marker"
                >
                  *</span
                ></td>
               <td colspan="2"> <mat-radio-group
                aria-label="Select an option"
                formControlName="cds_exam"
              >
    
                <mat-radio-button [value]="lang.language.radioButton[0]"></mat-radio-button>
                <mat-radio-button [value]="lang.language.radioButton[1]"></mat-radio-button>
               <div> <mat-error
                  *ngIf="
                    submitted &&
                    carrerInfoForm.get('cds_exam')?.invalid
                  "
                  >This field is required</mat-error
                ></div>
              </mat-radio-group></td>
            </tr>
            <tr>
              <td>j) {{ lang.language.entranceGovExamJobsData[9] }}
                <span
                  class="mat-placeholder-required mat-form-field-required-marker"
                >
                  *</span
                ></td>
               <td colspan="2"><mat-radio-group
                aria-label="Select an option"
                formControlName="rbi_exam"
              >
    
                <mat-radio-button [value]="lang.language.radioButton[0]"></mat-radio-button>
                <mat-radio-button [value]="lang.language.radioButton[1]"></mat-radio-button>
               <div> <mat-error
                  *ngIf="
                    submitted &&
                    carrerInfoForm.get('rbi_exam')?.invalid
                  "
                  >This field is required</mat-error
                ></div>
              </mat-radio-group></td>
            </tr>
            <tr>
              <td>k) {{ lang.language.entranceGovExamJobsData[10] }}
                <span
                  class="mat-placeholder-required mat-form-field-required-marker"
                >
                  *</span
                ></td>
               <td colspan="2"><mat-radio-group
                aria-label="Select an option"
                formControlName="psu_exam"
              >
    
                <mat-radio-button [value]="lang.language.radioButton[0]"></mat-radio-button>
                <mat-radio-button [value]="lang.language.radioButton[1]"></mat-radio-button>
               <div> <mat-error
                  *ngIf="
                    submitted &&
                    carrerInfoForm.get('psu_exam')?.invalid
                  "
                  >This field is required</mat-error
                ></div>
              </mat-radio-group></td>
            </tr>
          </table>
          </div>
        <!-- <div class="col-md-12 labelRow">
          <div class="matLabelHeight">
            <mat-label class="radioLabel"
              >a) {{ lang.language.entranceGovExamJobsData[0] }}
              <span
                class="mat-placeholder-required mat-form-field-required-marker"
              >
                *</span
              ></mat-label
            >
          </div>
          <mat-radio-group
            aria-label="Select an option"
            formControlName="tnpsc_exam"
          >

            <mat-radio-button [value]="lang.language.radioButton[0]">{{ lang.language.radioButton[0] }}</mat-radio-button>
            <mat-radio-button [value]="lang.language.radioButton[1]">{{ lang.language.radioButton[1] }}</mat-radio-button>
           <div> <mat-error
              *ngIf="
                submitted &&
                carrerInfoForm.get('tnpsc_exam')?.invalid
              "
              >This field is required</mat-error
            ></div>
          </mat-radio-group>
        </div>
        <div class="col-md-12 labelRow">
          <div class="matLabelHeight">
            <mat-label class="radioLabel"
              >b) {{ lang.language.entranceGovExamJobsData[1] }}
              <span
                class="mat-placeholder-required mat-form-field-required-marker"
              >
                *</span
              ></mat-label
            >
          </div>
          <mat-radio-group
            aria-label="Select an option"
            formControlName="trb_exam"
          >

            <mat-radio-button [value]="lang.language.radioButton[0]">{{ lang.language.radioButton[0] }}</mat-radio-button>
            <mat-radio-button [value]="lang.language.radioButton[1]">{{ lang.language.radioButton[1] }}</mat-radio-button>
           <div> <mat-error
              *ngIf="
                submitted &&
                carrerInfoForm.get('trb_exam')?.invalid
              "
              >This field is required</mat-error
            ></div>
          </mat-radio-group>
        </div>
        <div class="col-md-12 labelRow">
          <div class="matLabelHeight">
            <mat-label class="radioLabel"
              >c) {{ lang.language.entranceGovExamJobsData[2] }}
              <span
                class="mat-placeholder-required mat-form-field-required-marker"
              >
                *</span
              ></mat-label
            >
          </div>
          <mat-radio-group
            aria-label="Select an option"
            formControlName="tnusrb_exam"
          >

            <mat-radio-button [value]="lang.language.radioButton[0]">{{ lang.language.radioButton[0] }}</mat-radio-button>
            <mat-radio-button [value]="lang.language.radioButton[1]">{{ lang.language.radioButton[1] }}</mat-radio-button>
           <div> <mat-error
              *ngIf="
                submitted &&
                carrerInfoForm.get('tnusrb_exam')?.invalid
              "
              >This field is required</mat-error
            ></div>
          </mat-radio-group>
        </div>
        <div class="col-md-12 labelRow">
          <div class="matLabelHeight">
            <mat-label class="radioLabel"
              >d) {{ lang.language.entranceGovExamJobsData[3] }}
              <span
                class="mat-placeholder-required mat-form-field-required-marker"
              >
                *</span
              ></mat-label
            >
          </div>
          <mat-radio-group
            aria-label="Select an option"
            formControlName="ssc_exam"
          >

            <mat-radio-button [value]="lang.language.radioButton[0]">{{ lang.language.radioButton[0] }}</mat-radio-button>
            <mat-radio-button [value]="lang.language.radioButton[1]">{{ lang.language.radioButton[1] }}</mat-radio-button>
           <div> <mat-error
              *ngIf="
                submitted &&
                carrerInfoForm.get('ssc_exam')?.invalid
              "
              >This field is required</mat-error
            ></div>
          </mat-radio-group>
        </div>
        <div class="col-md-12 labelRow">
          <div class="matLabelHeight">
            <mat-label class="radioLabel"
              >e) {{ lang.language.entranceGovExamJobsData[4] }}
              <span
                class="mat-placeholder-required mat-form-field-required-marker"
              >
                *</span
              ></mat-label
            >
          </div>
          <mat-radio-group
            aria-label="Select an option"
            formControlName="upsc_exam"
          >

            <mat-radio-button [value]="lang.language.radioButton[0]">{{ lang.language.radioButton[0] }}</mat-radio-button>
            <mat-radio-button [value]="lang.language.radioButton[1]">{{ lang.language.radioButton[1] }}</mat-radio-button>
           <div> <mat-error
              *ngIf="
                submitted &&
                carrerInfoForm.get('upsc_exam')?.invalid
              "
              >This field is required</mat-error
            ></div>
          </mat-radio-group>
        </div>
        <div class="col-md-12 labelRow">
          <div class="matLabelHeight">
            <mat-label class="radioLabel"
              >f) {{ lang.language.entranceGovExamJobsData[5] }}
              <span
                class="mat-placeholder-required mat-form-field-required-marker"
              >
                *</span
              ></mat-label
            >
          </div>
          <mat-radio-group
            aria-label="Select an option"
            formControlName="rrb_exam"
          >

            <mat-radio-button [value]="lang.language.radioButton[0]">{{ lang.language.radioButton[0] }}</mat-radio-button>
            <mat-radio-button [value]="lang.language.radioButton[1]">{{ lang.language.radioButton[1] }}</mat-radio-button>
           <div> <mat-error
              *ngIf="
                submitted &&
                carrerInfoForm.get('rrb_exam')?.invalid
              "
              >This field is required</mat-error
            ></div>
          </mat-radio-group>
        </div>
        <div class="col-md-12 labelRow">
          <div class="matLabelHeight">
            <mat-label class="radioLabel"
              >g) {{ lang.language.entranceGovExamJobsData[6] }}
              <span
                class="mat-placeholder-required mat-form-field-required-marker"
              >
                *</span
              ></mat-label
            >
          </div>
          <mat-radio-group
            aria-label="Select an option"
            formControlName="ipbs_exam"
          >

            <mat-radio-button [value]="lang.language.radioButton[0]">{{ lang.language.radioButton[0] }}</mat-radio-button>
            <mat-radio-button [value]="lang.language.radioButton[1]">{{ lang.language.radioButton[1] }}</mat-radio-button>
           <div> <mat-error
              *ngIf="
                submitted &&
                carrerInfoForm.get('ipbs_exam')?.invalid
              "
              >This field is required</mat-error
            ></div>
          </mat-radio-group>
        </div>
        <div class="col-md-12 labelRow">
          <div class="matLabelHeight">
            <mat-label class="radioLabel"
              >h) {{ lang.language.entranceGovExamJobsData[7] }}
              <span
                class="mat-placeholder-required mat-form-field-required-marker"
              >
                *</span
              ></mat-label
            >
          </div>
          <mat-radio-group
            aria-label="Select an option"
            formControlName="nda_exam"
          >

            <mat-radio-button [value]="lang.language.radioButton[0]">{{ lang.language.radioButton[0] }}</mat-radio-button>
            <mat-radio-button [value]="lang.language.radioButton[1]">{{ lang.language.radioButton[1] }}</mat-radio-button>
           <div> <mat-error
              *ngIf="
                submitted &&
                carrerInfoForm.get('nda_exam')?.invalid
              "
              >This field is required</mat-error
            ></div>
          </mat-radio-group>
        </div>
        <div class="col-md-12 labelRow">
          <div class="matLabelHeight">
            <mat-label class="radioLabel"
              >i) {{ lang.language.entranceGovExamJobsData[8] }}
              <span
                class="mat-placeholder-required mat-form-field-required-marker"
              >
                *</span
              ></mat-label
            >
          </div>
          <mat-radio-group
            aria-label="Select an option"
            formControlName="cds_exam"
          >

            <mat-radio-button [value]="lang.language.radioButton[0]">{{ lang.language.radioButton[0] }}</mat-radio-button>
            <mat-radio-button [value]="lang.language.radioButton[1]">{{ lang.language.radioButton[1] }}</mat-radio-button>
           <div> <mat-error
              *ngIf="
                submitted &&
                carrerInfoForm.get('cds_exam')?.invalid
              "
              >This field is required</mat-error
            ></div>
          </mat-radio-group>
        </div>
        <div class="col-md-12 labelRow">
          <div class="matLabelHeight">
            <mat-label class="radioLabel"
              >j) {{ lang.language.entranceGovExamJobsData[9] }}
              <span
                class="mat-placeholder-required mat-form-field-required-marker"
              >
                *</span
              ></mat-label
            >
          </div>
          <mat-radio-group
            aria-label="Select an option"
            formControlName="rbi_exam"
          >

            <mat-radio-button [value]="lang.language.radioButton[0]">{{ lang.language.radioButton[0] }}</mat-radio-button>
            <mat-radio-button [value]="lang.language.radioButton[1]">{{ lang.language.radioButton[1] }}</mat-radio-button>
           <div> <mat-error
              *ngIf="
                submitted &&
                carrerInfoForm.get('rbi_exam')?.invalid
              "
              >This field is required</mat-error
            ></div>
          </mat-radio-group>
        </div>
        <div class="col-md-12 labelRow">
          <div class="matLabelHeight">
            <mat-label class="radioLabel"
              >k) {{ lang.language.entranceGovExamJobsData[10] }}
              <span
                class="mat-placeholder-required mat-form-field-required-marker"
              >
                *</span
              ></mat-label
            >
          </div>
          <mat-radio-group
            aria-label="Select an option"
            formControlName="psu_exam"
          >

            <mat-radio-button [value]="lang.language.radioButton[0]">{{ lang.language.radioButton[0] }}</mat-radio-button>
            <mat-radio-button [value]="lang.language.radioButton[1]">{{ lang.language.radioButton[1] }}</mat-radio-button>
           <div> <mat-error
              *ngIf="
                submitted &&
                carrerInfoForm.get('psu_exam')?.invalid
              "
              >This field is required</mat-error
            ></div>
          </mat-radio-group>
        </div> -->


      </div>
      <!-- <div class="col-md-12 labelRow">
        <div>
          <mat-label
            >{{ lang.language.sectorInterested }}
            <span
              class="mat-placeholder-required mat-form-field-required-marker"
            >
              *</span
            ></mat-label
          >
        </div>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-select
            placeholder=""
            formControlName="interestedJobSector"
            multiple
          >
            <mat-option *ngFor="let item of careersData" [value]="item.field">{{
              item.field
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div> -->
</div>
    <p class="mat-danger labelRow">(*) mandatory</p>
    <div>
      <button mat-button class="matButton" (click)="onClickNext()" >Next</button>
      <button mat-button class="matBackButton" (click)="onClickBack()" style="float: left">
        Back
      </button>
    </div>
  </form>
    <!--Phone Modal -->
    <div
    class="modal fade"
    id="successModal"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="successModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content br-20">
        <div class="text-end pe-3 pt-2">
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="toBack()"
          ></button>
        </div>
        <div class="modal-body text-center">
          <div class="d-flex justify-content-center pb-2">
            <img src="/assets/images/icons/education.png" height="60" />
          </div>
          <h1 class="d-blue pb-2">Submitted successfully!</h1>
        </div>
      </div>
    </div>
  </div>
  <div
    class="modal fade"
    id="alertModal"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="successModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content br-20">
        <div class="text-end pe-3 pt-2">
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="toClose()"
          ></button>
        </div>
        <div class="modal-body text-center">
          <p
            class="d-blue pb-4"
            style="font-size: 28px !important; color: #dc3545"
          >
            Please fill all mandatory fields!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
