<div class="app-footer">


    <div class="footer-main-content py-1">

        <div class="container">

            <div class="row mx-0">

                <!-- <div class="col-md-3 text-center">

                    <img src="./assets/images/tn_logo.png" alt="" width="60px">

                    <div class="footer-logo-content">

                        <div class="dept-content">
                            {{lang.language.deptSclEdu}}
                        </div>

                        <div class="dept-sub-content">
                            {{lang.language.govtOfTN}}
                        </div>

                    </div>

                </div> -->

                <div class="col-md-12 text-center pt-1">

                    <div class="footer-content">
                        <div>
                            <div class="dept-sub-content">
                                <span (click)="moveTo()" class="cursor-pointer"> {{lang.language.deptSclEdu}}</span>
                                <span class="ps-3">{{lang.language.govtOfTN}}</span>
                                <span class="ps-5">
                                    <img src="./assets/images/footer/twitter-logo.png" alt="" class="px-2">
                                    <a href="https://twitter.com/SEDTamilNadu" target="_blank">@TNSchools</a>
                                </span>
                                <span class="ps-4">
                                    <img src="./assets/images/footer/fb-logo.png" alt="" class="px-2">
                                    <a href="https://www.facebook.com/tnschooledu" target="_blank">@TNSchools</a>
                                </span>
                            </div>
                        </div>
                        <div class="fs-12">
                            {{lang.language.ownedBy}}
                        </div>
                        <!-- <div class="fs-12">
                            {{lang.language.noOfVisits}}: 43
                        </div> -->

                    </div>



                </div>

            </div>

        </div>

    </div>

    <div class="bottom-links py-2">

        <div class="container">

            <div class="row mx-0">

                <div class="text-center">

                    <a class="text-decoration-none pe-5"> {{lang.language.noOfVisits}}: {{count}}</a>
                    <a href="" class="text-decoration-none">@ 2022 Copyright:TNDSE</a>

                </div>



            </div>

        </div>

    </div>

</div>