<div class="container-fluid mt-4rem">
  <!-- <div class="container searchBoxTop">
    <div class="w-96 mx-1 centered-2 centered row">
      <div class="form-group has-search">

        <div class="form-group has-search" [formGroup]="searchForm">
          <div class="wrap">
            <div class="search">
              <input
                type="text"
                class="searchTerm"
                formControlName="searchBox"
                [placeholder]="lang.language.search"
              />
              <button class="searchButton1">Search</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="mt-3 container">
        <ul class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li>
            <a (click)="onClickRedirection(sectionName)">{{ title }}</a>
          </li>
          <!-- <ng-container *ngIf="name && name != ' '">
            <li>
              <a style="cursor: none">{{ name }}</a>
            </li>
          </ng-container> -->
          <li>
            <a style="cursor: none"> List</a>
          </li>
        </ul>
        <div class="" (click)="backTo()">
          <img
            class="centered-back cursor-pointer"
            src="/assets/images/icons/back-icon.png"
            alt=""
            height="22"
          />
        </div>
        <img
          src="/assets/images/banner/{{ id }}.png"
          class="w-100"
          height="200"
        />

        <div class="centered fs-30">
          <span class="fs-24 fw-800">{{ title }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="scholarships-div container-fluid" *ngIf="id==='scholarships'">
    <h4 class="scholarships-h5"><a href="#" class="scholarships-link">Last Date to apply for Reliance Foundation, JSW, Agaram scholarships. Please click here to Apply!</a></h4>
  </div>


  <div class="container">
    <div class="row pt-2 px-3">
      <div
        [formGroup]="filterForm"
        class="col-sm-12 col-md-12 col-lg-3 col-xl-3 mt-4 scroll"
      >
        <div
          *ngIf="id != 'careers'"
          class="center-flex justify-content-between pb-2"
        >
          <h5 class="fw-800 filterHeading">{{ lang.language.filter }}</h5>
          <!-- <h6 class="text-danger cursor-pointer" (click)="clearFilter()">{{lang.language.clearFilter}}</h6> -->
        </div>
        <!-- Exams -->
        <div *ngIf="id == 'exams'">
          <div class="pb-3">
            <h5 *ngIf="examLevel.length > 0">Exam Level</h5>
            <div class="">
              <div
                class="form-check"
                *ngFor="let item of examLevel; let i = index"
              >
                <ng-container *ngIf="item.level !== null">
                  <input
                    class="form-check-input cursor-pointer"
                    type="checkbox"
                    name="examLevelFilter"
                    [value]="item.level"
                    (change)="changeFilterAdmissionProcedure($event, 'level')"
                  />
                  <label class="form-check-label">{{ item?.level }}</label>
                </ng-container>
              </div>
            </div>
          </div>

          <div class="pb-3">
            <h5 *ngIf="fields.length > 0">Specilization</h5>
            <div class="filter-box-scroll">
              <div
                class="form-check"
                *ngFor="let item of fields; let i = index"
              >
                <ng-container *ngIf="item.field !== null">
                  <input
                    class="form-check-input cursor-pointer"
                    type="checkbox"
                    name="examFieldFilter"
                    (change)="courseFilter($event, item, fields)"
                    [checked]="item.selected"
                    [value]="item.field"
                  />
                  <label class="form-check-label">{{ item.field }}</label>
                </ng-container>
              </div>
            </div>
          </div>

          <div class="pb-3">
            <h5 *ngIf="levels.length > 0">Education Level</h5>
            <div class="">
              <div
                class="form-check"
                *ngFor="let item of levels; let j = index"
              >
                <ng-container *ngIf="item.graduate !== null">
                  <input
                    class="form-check-input cursor-pointer"
                    type="checkbox"
                    name="examEducationFilter"
                    (change)="filterCourses($event, 'graduate')"
                    [value]="item?.graduate"
                  />
                  <label class="form-check-label">{{ item?.graduate }}</label>
                </ng-container>
              </div>
            </div>
          </div>

          <div class="pb-3">
            <h5 *ngIf="examsNotificationTypes.length > 0">
              Notification Status
            </h5>
            <div class="filter-box-scroll">
              <div
                class="form-check"
                *ngFor="let item of examsNotificationTypes; let k = index"
              >
                <ng-container *ngIf="item.notificationStatus !== null">
                  <input
                    class="form-check-input cursor-pointer"
                    name="examNotificationFilter"
                    (change)="filterExamsNotifications($event)"
                    type="checkbox"
                    [value]="item?.notificationStatus"
                  />
                  <label class="form-check-label">{{
                    item?.notificationStatus
                  }}</label>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
        <!--END exams -->

        <!-- Careers -->
        <div *ngIf="id == 'careers'">
          <div class="mb-3">
            <h5 class="fw-500" *ngIf="sideHeadings.length > 0">Careers</h5>
            <div class="filter-box-scroll-big">
              <div *ngFor="let item of sideHeadings; let i = index">
                <h6
                  (click)="filterCareers(i, item?.field)"
                  [class.menu-select]="i == selectedMenu"
                  class="d-flex align-items-center ms-2 py-1 d-grey cursor-pointer text-ellipsis"
                >
                  {{ item.field }}
                </h6>
              </div>
            </div>
          </div>
        </div>

        <!-- colleges -->
        <div *ngIf="id == 'colleges'">
          <div class="pb-3">
            <h5 *ngIf="states.length > 0">States</h5>
            <div class="filter-box-scroll">
              <div
                class="form-check"
                *ngFor="let item of states; let k = index"
              >
                <ng-container *ngIf="item.state !== null">
                  <input
                    class="form-check-input cursor-pointer"
                    type="checkbox"
                    name="collegeTypeFilter"
                    (change)="changeFilterAdmissionProcedure($event, 'state')"
                    [value]="item?.state"
                  />
                  <label class="form-check-label">{{ item?.state }}</label>
                </ng-container>
              </div>
            </div>
          </div>

          <div class="pb-3">
            <h5 *ngIf="collegeTypes.length > 0">College Type</h5>
            <div class="">
              <div
                class="form-check"
                *ngFor="let item of collegeTypes; let k = index"
              >
                <ng-container *ngIf="item.collegeType !== null">
                  <input
                    class="form-check-input cursor-pointer"
                    type="checkbox"
                    name="collegeTypeFilter"
                    (change)="filterCourses($event, 'collegeType')"
                    [value]="item?.collegeType"
                  />
                  <label class="form-check-label">{{
                    item?.collegeType
                  }}</label>
                </ng-container>
              </div>
            </div>
          </div>

          <div class="pb-3">
            <h5 *ngIf="specilizationTypes.length > 0">Specilization</h5>
            <div class="filter-box-scroll">
              <div
                class="form-check"
                *ngFor="let item of specilizationTypes; let k = index"
              >
                <ng-container *ngIf="item.field !== null">
                  <input
                    class="form-check-input cursor-pointer"
                    (change)="courseFilter($event, item, specilizationTypes)"
                    [checked]="item.selected"
                    name="collegeSpecilizationFilter"
                    type="checkbox"
                    [value]="item?.field"
                  />
                  <label class="form-check-label">{{ item?.field }}</label>
                </ng-container>
              </div>
            </div>
          </div>
        </div>

        <!-- Scholarships -->
        <div *ngIf="id == 'scholarships'">
          <div class="pb-3">
            <h5 *ngIf="scholarshipLevels.length > 0">Education Level</h5>
            <div class="">
              <div
                class="form-check"
                *ngFor="let item of scholarshipLevels; let j = index"
              >
                <ng-container *ngIf="item.level !== null">
                  <input
                    class="form-check-input cursor-pointer"
                    type="checkbox"
                    name="educationLevelFilter"
                    (click)="filterScholarships($event)"
                    (change)="filterExams($event)"
                    [value]="item?.level"
                  />
                  <label class="form-check-label">{{ item?.level }}</label>
                </ng-container>
              </div>
            </div>
          </div>

          <div class="pb-3">
            <h5 *ngIf="notificationStatus.length > 0">Notification Status</h5>
            <div class=" ">
              <div
                class="form-check"
                *ngFor="let item of notificationStatus; let k = index"
              >
                <ng-container *ngIf="item.notificationStatus !== null">
                  <input
                    class="form-check-input cursor-pointer"
                    name="examNotificationFilter"
                    (change)="filterScholarships($event)"
                    type="checkbox"
                    [value]="item?.notificationStatus"
                  />
                  <label class="form-check-label">{{
                    item?.notificationStatus
                  }}</label>
                </ng-container>
              </div>
            </div>
          </div>

          <div class="pb-3">
            <h5 *ngIf="scholarshipsTypes.length > 0">Scholarship Providers</h5>
            <div class="filter-box-scroll">
              <div
                class="form-check"
                *ngFor="let item of scholarshipsTypes; let k = index"
              >
                <ng-container *ngIf="item.scholarshipProvider !== null">
                  <input
                    class="form-check-input cursor-pointer"
                    type="checkbox"
                    name="scholarshipsProviderFilter"
                    (change)="filterScholarships($event)"
                    [value]="item.scholarshipProvider"
                  />
                  <label class="form-check-label">{{
                    item.scholarshipProvider
                  }}</label>
                </ng-container>
              </div>
            </div>
          </div>
        </div>

        <!-- Courses -->
        <div *ngIf="id == 'courses'">
          <div class="pb-3">
            <h5 *ngIf="admissionProcedures.length > 0">Admission Procedure</h5>
            <div class="">
              <div
                class="form-check"
                *ngFor="let item of admissionProcedures; let b = index"
              >
                <ng-container *ngIf="item.admissionProcedure !== null">
                  <input
                    class="form-check-input cursor-pointer"
                    name="admissionProceduresFilter"
                    (change)="
                      changeFilterAdmissionProcedure(
                        $event,
                        'admissionProcedure'
                      )
                    "
                    type="checkbox"
                    [value]="item?.admissionProcedure"
                  />
                  <label class="form-check-label">{{
                    item?.admissionProcedure
                  }}</label>
                </ng-container>
              </div>
            </div>
          </div>

          <div class="pb-3">
            <h5 *ngIf="coursesLevels.length > 0">Education Level</h5>
            <div class="">
              <div
                class="form-check"
                *ngFor="let item of coursesLevels; let n = index"
              >
                <ng-container *ngIf="item.level !== null">
                  <input
                    class="form-check-input cursor-pointer"
                    name="courseLevelFilter"
                    (change)="filterCourses($event, 'level')"
                    type="checkbox"
                    [value]="item?.level"
                  />
                  <label class="form-check-label">{{ item?.level }}</label>
                </ng-container>
              </div>
            </div>
          </div>

          <div class="pb-3">
            <h5 *ngIf="coursesTypes.length > 0">Specilization</h5>
            <div class="filter-box-scroll">
              <div
                class="form-check"
                *ngFor="let item of coursesTypes; let k = index"
              >
                <ng-container *ngIf="item.field !== null">
                  <input
                    class="form-check-input cursor-pointer"
                    [checked]="item.selected"
                    name="coursesTypesFilter"
                    (change)="courseFilter($event, item, coursesTypes)"
                    type="checkbox"
                    [value]="item?.field"
                  />
                  <label class="form-check-label">{{ item?.field }}</label>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-12 col-lg-9 col-xl-9 mt-4 pt-2">
        <div
          *ngIf="id != 'careers'"
          class="d-flex justify-content-between pb-3"
        >
          <h5 class="fw-800 filterHeading">{{ title }}</h5>
          <div class="dropdown">
            <div
              style="font-weight: 900"
              class="dropdown-toggle filterHeading"
              type="button"
              id="dropdownMenuButton1"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              {{ lang.language.sortBy }}
            </div>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li>
                <a class="dropdown-item text-dark" (click)="orderByData('1')"
                  >Latest
                </a>
              </li>
              <li>
                <a class="dropdown-item text-dark" (click)="orderByData('2')"
                  >A to Z</a
                >
              </li>
              <li>
                <a class="dropdown-item text-dark" (click)="orderByData('3')"
                  >Z to A</a
                >
              </li>
            </ul>
          </div>
        </div>

        <div class="scroll" *ngIf="id == 'scholarships'">
          <div *ngIf="items.length == 0" class="d-flex justify-content-center">
            <img
              src="/assets/images/norecord.png"
              height="333px"
              alt=""
              srcset=""
            />
          </div>
          <div
            *ngFor="
              let item of items
                | paginate: { itemsPerPage: 9, currentPage: items.p };
              let i = index
            "
            class="mb-3"
          >
            <div class="card card-banner">
              <div
                class="d-flex px-3 py-2 justify-content-between cursor-pointer"
              >
                <div class="d-flex" (click)="moveTo(item.id)">
                  <img
                    src="/assets/images/icons/blue-scholar.png"
                    class="d-block-1"
                    alt=""
                    srcset=""
                    height="50"
                  />
                  <div class="pt-2 ps-3 align-items-center">
                    <div class="line-clamp">{{ item?.name }}</div>

                    <div>
                      <span [ngClass]="sectionName == 'Scholarships' ? 'badge-4' : 'badge-2'" class="badge rounded-pill px-3 py-1">{{
                        item?.level
                      }}</span>
                      <span
                        *ngIf="item?.endDate"
                        class="badge badge-1 rounded-pill px-3 py-1 ms-2"
                        >{{ item?.endDate | date: "dd/MM/yyyy" }}</span
                      >
                    </div>
                  </div>
                </div>
                <div class="center-flex">
                  <button
                    class="btn apply-now"
                    style="width: 95px"
                    (click)="goToUrl(item?.link)"
                  >
                    {{ lang.language.applyNow }}
                  </button>
                  <!-- <button *ngIf="!this.service.dateCompare(item?.endDate)" class="btn expired">{{lang.language.applyNow}}</button> -->
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="scroll mt-4" *ngIf="id == 'careers'">
          <div *ngIf="items.length == 0" class="d-flex justify-content-center">
            <img
              src="/assets/images/norecord.png"
              height="333px"
              alt=""
              srcset=""
            />
          </div>
          <div class="d-flex justify-content-around row">
            <div
              class="card-exams career-border p-3 col-sm-8 col-md-8 col-lg-3 col-xl-3 text-center cards-hover my-2 mx-1 cursor-pointer"
              *ngFor="
                let item of items
                  | paginate: { itemsPerPage: 9, currentPage: items.p };
                let i = index
              "
              (click)="moveTo(item.id)"
            >
              <img
                *ngIf="item.field == 'Science'"
                src="/assets/images/icons/blue-pipet.png"
                class="m-3"
                height="50"
              />
              <img
                *ngIf="item.field != 'Science'"
                src="/assets/images/icons/grey-gear.png"
                class="m-3"
                height="50"
              />

              <h6 class="fw-500 fs-13 line-clamp">{{ item?.name }}</h6>
              <p class="pb-1 sub-head fs-12 line-clamp">{{ item?.field }}</p>
            </div>
          </div>
        </div>

        <!-- Courses -->
        <div class="scroll mt-4 bg-list" *ngIf="id == 'courses'">
          <div *ngIf="items.length == 0" class="d-flex justify-content-center">
            <img
              src="/assets/images/norecord.png"
              height="333px"
              alt=""
              srcset=""
            />
          </div>
          <div class="d-flex row">
            <div
              class="card-courses career-border p-3 col-sm-8 col-md-8 col-lg-3 col-xl-3 text-center cards-hover my-2 cardMargin cursor-pointer"
              *ngFor="
                let item of items
                  | paginate: { itemsPerPage: 9, currentPage: items.p }
              "
              (click)="moveTo(item?.id)"
            >
              <img
                style="float: 'left'"
                [src]="
                  'assets/images/Specilizations/' +
                  item?.field.toLowerCase().trim() +
                  '.png'
                "
                class="m-3"
                height="50"
              />
              <h6 class="fw-500 fs-13 line-clamp" style="padding: '12px'">
                {{ item?.name }}
              </h6>
              <p class="pb-1 sub-head fs-12 line-clamp">{{ item?.field }}</p>
            </div>
          </div>
        </div>

        <!-- Colleges -->
        <div class="scroll mt-4" *ngIf="id == 'colleges'">
          <div *ngIf="items.length == 0" class="d-flex justify-content-center">
            <img
              src="/assets/images/norecord.png"
              height="333px"
              alt=""
              srcset=""
            />
          </div>
          <div class="d-flex row bg-college-list">
            <div
              class="card-colleges career-border p-1 col-sm-8 col-md-8 col-lg-3 col-xl-3 text-center cardMargin cards-hover my-2 mx-1 cursor-pointer"
              *ngFor="
                let item of items
                  | paginate: { itemsPerPage: 9, currentPage: items.p }
              "
              (click)="moveTo(item?.id)"
            >
              <img
                [src]="'assets/images/colleges/' + item.field.trim() + '.png'"
                class="m-3 collegeImage"
              />
              <h6 class="fw-500 fs-13 line-clamp cardText">
                {{ item?.name }}
                <!-- <p class="pb-1 sub-head fs-12 line-clamp fieldHeading">
                  {{ item?.field }}
                </p> -->
              </h6>
            </div>
          </div>
        </div>

        <div class="scroll d-block-1" *ngIf="id == 'exams'">
          <div *ngIf="items?.length == 0" class="d-flex justify-content-center">
            <img
              src="/assets/images/norecord.png"
              height="333px"
              alt=""
              srcset=""
            />
          </div>

          <div
            *ngFor="
              let item of items
                | paginate: { itemsPerPage: 9, currentPage: items.p };
              let i = index
            "
            class="mb-3"
          >
            <div class="card card-banner card-exams">
              <div class="d-flex px-4 py-2 justify-content-between">
                <div class="d-flex cursor-pointer" (click)="moveTo(item.id)">
                  <img
                    [src]="
                      'assets/images/entrance-exams/' +
                      item.field.trim() +
                      '.png'
                    "
                    height="88"
                  />
                  <div class="pt-2 ps-3">
                    <div class="fs-14 fw-500 line-clamp">{{ item?.name }}</div>
                    <div class="">
                      <div
                        *ngIf="item?.endDate"
                        class="badge rounded-pill badge-1 px-3 py-1"
                      >
                        Exp: {{ item?.endDate }}
                      </div>
                    </div>
                    <div>
                      <span class="badge rounded-pill badge-2 px-3 py-1 mt-2">{{
                        item?.graduate
                      }}</span>
                      <span class="badge rounded-pill px-3 py-1 ms-2 badge-3">{{
                        item?.field
                      }}</span>
                    </div>
                  </div>
                </div>
                <div class="center-flex">
                  <!-- *ngIf="this.service.dateCompare(item?.endDate)" -->
                  <button class="btn apply-now" (click)="goToUrl(item?.link)">
                    {{ lang.language.applyNow }}
                  </button>
                  <!-- <button *ngIf="!this.service.dateCompare(item?.endDate)" class="btn expired">{{lang.language.applyNow}}</button> -->
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="scroll d-block-2" *ngIf="id == 'exams'">
          <div *ngIf="items.length == 0" class="d-flex justify-content-center">
            <img
              src="/assets/images/norecord.png"
              height="333px"
              alt=""
              srcset=""
            />
          </div>

          <div class="d-flex justify-content-around row">
            <div
              class="card-exams col-sm-12 col-md-12 col-lg-3 col-xl-3 text-center cards-hover my-2 mx-2"
              *ngFor="
                let item of items
                  | paginate: { itemsPerPage: 9, currentPage: items.p }
              "
              (click)="moveTo(item.id)"
            >
              <img
                src="/assets/images/icons/exampad.png"
                class="m-3"
                height="50"
              />
              <div class="fw-500 fs-14 line-clamp">{{ item?.name }}</div>
              <div>
                <span class="badge badge-1 rounded-pill bg-danger px-3 py-1">{{
                  item?.graduate
                }}</span>
              </div>

              <div
                *ngIf="item?.endDate"
                class="badge badge-2 rounded-pill bg-warning px-3 py-1 my-3"
              >
                Last Date:
                {{ item?.endDate | date: "dd/MM/yyyy" }}
              </div>
              <div>
                <span
                  class="badge badge-3 rounded-pill bg-secondary px-3 py-1 mb-3"
                  >{{ item?.field }}</span
                >
              </div>
              <div class="centered-button pb-3">
                <button
                  *ngIf="this.service.dateCompare(item?.endDate)"
                  type="button"
                  class="btn apply-now"
                  (click)="goToUrl(item?.link)"
                >
                  {{ lang.language.applyNow }}
                  <i class="bi bi-chevron-right"></i>
                </button>
                <button
                  *ngIf="!this.service.dateCompare(item?.endDate)"
                  class="btn expired"
                >
                  {{ lang.language.applyNow }}
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="paginationMargin">
          <!-- <mat-paginator #paginator [length]="pageLength" [pageSize]="15" aria-label="Select page"
                        (page)="paginationCount($event)">
                    </mat-paginator> -->
          <pagination-controls
            class="my-pagination"
            (pageChange)="items.p = $event"
          ></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
