::ng-deep .common-modal {

    .modal-content {
        box-shadow: -7px 7px 11px #00000029;
        border: none;
    }

    .modal-header {
        background: #282248;
        box-shadow: -7px 7px 11px #00000029;
        opacity: 1;
        padding: 0.5rem 0.5rem 0.5rem 1rem;
        border-radius: 0.25rem 0.25rem 0rem 0rem;
        .close-btn {
            font-size: 1.5rem;
            color: #fff;
            cursor: pointer;
        }
    }

    .modal-title {
        text-align: left;
        letter-spacing: 1px;
        color: #FFFFFF;
        text-transform: uppercase;
        opacity: 1;
    }

    .modal-body {
        padding: 1rem;
        max-height: calc(100vh - 200px);
        overflow-y: auto;        
    }

    .modal-footer {
        border: none;
        padding: 1rem;
        .cancel-btn {
            background: #FFFFFF 0% 0% no-repeat padding-box;
            box-shadow: 3px 3px 9px #00000029;
            text-align: left;
            border: 1px solid #eaeaea;
            letter-spacing: 0px;
            font-size: 1rem;
            color: #282248;
            opacity: 1;
        }
        .save-btn {
            box-shadow: 1px 6px 9px 3px #00000029;
            font-size: 1rem;
            color: #FFFFFF;
            opacity: 1;
        }
    }

}

::ng-deep {
    @media (min-width: 420px) {
        .common-modal{
            .modal-dialog {
                padding: 1rem 3rem !important;
            }           
        }
        .common-modal {
            .modal-body {
                padding: 2rem 2rem 1rem 2rem;
            } 
            .modal-footer {
                padding: 1.5rem 2rem 1rem 2rem;
            }
        }
    }
}


::ng-deep .cdk-overlay-container {
    z-index:2000;
}
