<form action="index.html" method="post">
  <fieldset>
    <label for="name">EMIS Id</label>
    <input type="text" id="name" name="FormsModule" [(ngModel)]="emsId" readonly/>
    <label for="name">Name:</label>
    <input type="text" id="name" name="fullName" [(ngModel)]="fullName" readonly/>
    <label for="name">DOB:</label>
    <input type="text" id="name" name="user_name" />
    <label for="name">Gender:</label>
    <input type="text" id="name" name="gender" [(ngModel)]="gender" readonly />
    <label for="name">Class:</label>
    <input type="text" id="name" name="user_name" />
    <label for="name">Group:</label>
    <input type="text" id="name" name="user_name" />
    <label for="name">Medium of Education:</label>
    <input type="text" id="name" name="user_name" />
    <label for="name">School Name:</label>
    <input  type="text"  id="name"  name="schoolName"  [(ngModel)]="schoolName"  readonly/>
    <label for="name">Father Name:</label>
    <input type="text" id="name" name="user_name" />
    <label for="mail">Mother Name:</label>
    <input type="text" id="mail" name="user_email" />
    <label for="mail">Address:</label>
    <input type="text" id="mail" name="user_email" />
  </fieldset>

  <!-- https://codepen.io/lilianab/pen/PGNOOm -->
</form>
