.example-stepper {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}
.mat-radio-group {
  margin-left: 10%;
}
.step-wizard-container {
  margin-top: 100px;
  min-height: 730px;
  height: auto;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.radioTop {
  margin-top: 16px;
}
.matButton {
  background-color: #68c27a;
  color: #fff;
  float: right;
}
.matBackButton {
  background-color: #e7556c;
  color: #fff;
}

.radioLabel {
  margin-right: 22px;
}
.mat-danger {
  color: #dc3545;
  margin-top: 10px;
}
.labelRow {
  margin-bottom: 10px !important ;
}
