<div class="container step-wizard-container">
  <form [formGroup]="higherEducationInfoForm">
    <div class="row">
      <div class="col-md-6 labelRow">
        <div class="matLabelHeight">
          <mat-label>12. {{ lang.language.importantForEducation }}<span
            class="mat-placeholder-required mat-form-field-required-marker"
          >
            *</span
          ></mat-label>
        </div>
        <mat-radio-group
        aria-label="Select an option"
        formControlName="importantForEducation"
      >
        <ng-container *ngFor="let item of lang.language.radioOption">
          <mat-radio-button [value]="item">{{ item }}</mat-radio-button>
        </ng-container>
        <mat-error
          *ngIf="
            submitted && higherEducationInfoForm.get('importantForEducation').invalid
          "
          >This field is required</mat-error
        >
      </mat-radio-group>

      </div>
      <div class="col-md-6 labelRow">
        <div class="matLabelHeight">
          <mat-label
            >13. {{ lang.language.challengesInEducation }}
            <span
              class="mat-placeholder-required mat-form-field-required-marker"
            >
              *</span
            ></mat-label
          >
        </div>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-select
            placeholder=""
            formControlName="challengesInHigherEducation"

          >
            <mat-option
              *ngFor="let item of lang.language.challengesInHigherEducationData"
              [value]="item"
              >{{ item }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-6 labelRow">
        <div class="matLabelHeight">
          <mat-label
            >14. {{ lang.language.specilaztionsNew }}
            <span
              class="mat-placeholder-required mat-form-field-required-marker"
            >
              *</span
            ></mat-label
          >
          <div class="mathint">
            <mat-hint align="start"
            >{{ lang.language.specialHint }}
          </mat-hint>
          </div>
        </div>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-select
            placeholder=""
            formControlName="specilaztions"
            multiple

          >
          <ng-container *ngFor="let item of specilaztions">

            <mat-option

              [value]="item.field"
              [disabled]="higherEducationInfoForm.get('specilaztions').value.length >= 4 && !higherEducationInfoForm.get('specilaztions').value.includes(item.field)"
              >{{ item.field }}</mat-option>
          </ng-container>

          </mat-select>
        </mat-form-field>
      </div>
       <div class="col-md-6 labelRow">
        <div class="matLabelHeight">
        <mat-label>15. {{ lang.language.courseNew }}<span
          class="mat-placeholder-required mat-form-field-required-marker"
        >
          *</span
        ></mat-label>
        <div class="mathint">
          <mat-hint align="start"
          >{{ lang.language.courseHint }}
        </mat-hint>
        </div>
        </div>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-select
              placeholder=""
              formControlName="intrestedCourse"
              multiple

            >
            <ng-container  *ngFor="let item of coursesData">
              <mat-option
              [disabled]="higherEducationInfoForm.get('intrestedCourse').value.length >= 4 && !higherEducationInfoForm.get('intrestedCourse').value.includes(item.name)"

               [value]="item.name">{{
                item.name
              }}</mat-option>
            </ng-container>

            </mat-select>
          </mat-form-field>
        </div>
           <div class="col-md-6 labelRow">
            <div class="matLabelHeight">
            <mat-label>16. {{ lang.language.examnew }}</mat-label>
            <div class="mathint">
              <mat-hint align="start"
              >{{ lang.language.examHint }}
            </mat-hint>
            </div>
            </div>

          <mat-form-field class="example-full-width " appearance="fill">

            <mat-select placeholder="" formControlName="entranceExams" multiple>
              <mat-option *ngIf="entranceExamData.length === 0" value="None"
                >None</mat-option
              >

              <mat-option
                *ngFor="let item of examFileteredData"
                [value]="item"
                >{{ item }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>

      <div class="col-md-6 labelRow">
        <div class="matLabelHeight">
          <mat-label class="radioLabel"
            >17. {{ lang.language.collegeIdea }}
            <span
              class="mat-placeholder-required mat-form-field-required-marker"
            >
              *</span
            ></mat-label
          >
        </div>
        <mat-radio-group
          aria-label="Select an option"
          formControlName="likedColleges"
        >
          <ng-container *ngFor="let item of lang.language.radioOption">
            <mat-radio-button [value]="item">{{ item }}</mat-radio-button>
          </ng-container>
          <mat-error
            *ngIf="
              submitted && higherEducationInfoForm.get('likedColleges').invalid
            "
            >This field is required</mat-error
          >
        </mat-radio-group>
      </div>
      <div class="col-md-6 labelRow">
        <div class="matLabelHeight">
          <mat-label class="radioLabel"
            >18. {{ lang.language.graduationAwayFromHometown }}
            <span
              class="mat-placeholder-required mat-form-field-required-marker"
            >
              *</span
            ></mat-label
          >
        </div>
        <mat-radio-group
          aria-label="Select an option"
          formControlName="graduationAwayFromHometown"
        >
          <ng-container *ngFor="let item of lang.language.radioButton">
            <mat-radio-button [value]="item">{{ item }}</mat-radio-button>
          </ng-container>
          <mat-error
            *ngIf="
              submitted &&
              higherEducationInfoForm.get('graduationAwayFromHometown').invalid
            "
            >This field is required</mat-error
          >
        </mat-radio-group>
      </div>

      <div
      class="col-md-6 labelRow"
    >
      <div class="matLabelHeight">
        <mat-label>19. {{
          lang.language.accessedGovtSchemes
        }}
        <span
        class="mat-placeholder-required mat-form-field-required-marker"
      >
        *</span
      ></mat-label>
      </div>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-select
          placeholder=""
          formControlName="accessedGoverementSchemes"
          multiple

        >
          <mat-option *ngFor="let item of lang.language.schemeData" [value]="item">{{
            item
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div
    class="col-md-6 labelRow"
  >
    <div class="matLabelHeight">
      <mat-label>20. {{
        lang.language.awareSchemes
      }}<span
      class="mat-placeholder-required mat-form-field-required-marker"
    >
      *</span
    ></mat-label>
    </div>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-select
        placeholder=""
        formControlName="awareGovtSchemes"
        multiple

      >
        <mat-option *ngFor="let item of lang.language.awareGovtSchemes" [value]="item">{{
          item
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-md-6 labelRow
  ">
    <div class="matLabelHeight">
      <mat-label
        >21. {{ lang.language.requireDocument }}
        <span
          class="mat-placeholder-required mat-form-field-required-marker"
        >
          *</span
        ></mat-label
      >
    </div>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-select
        placeholder=""
        formControlName="documentList"
        multiple
      >
        <mat-option
          *ngFor="let item of lang.language.requireDocumentData"
          [value]="item"
          >{{ item }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </div>


    </div>
    <p class="mat-danger labelRow">(*) mandatory</p>
    <div class="matLabelHeight">
      <button mat-button class="matButton " (click)="onClickNext()">Next</button>
      <button mat-button class="matBackButton float-left" (click)="onClickBack()">
        Back
      </button>
    </div>
  </form>

  <!--Phone Modal -->
  <div
    class="modal fade"
    id="successModal"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="successModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content br-20">
        <div class="text-end pe-3 pt-2">
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="toBack()"
          ></button>
        </div>
        <div class="modal-body text-center">
          <div class="d-flex justify-content-center pb-2">
            <img src="/assets/images/icons/education.png" height="60" />
          </div>
          <h1 class="d-blue pb-2">Submitted successfully!</h1>
        </div>
      </div>
    </div>
  </div>
  <div
    class="modal fade"
    id="alertModal"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="successModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content br-20">
        <div class="text-end pe-3 pt-2">
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="toClose()"
          ></button>
        </div>
        <div class="modal-body text-center">
          <p
            class="d-blue pb-4"
            style="font-size: 28px !important; color: #dc3545"
          >
            Please fill all mandatory fields!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
