.mat-form-field-required-marker {
  color: red;
}

.matLabelHeight{
  min-height: 91px;
}
.mat-radio-button{
  width: 35%;
}

.matCustomLable{
  padding: 0px;
  vertical-align: middle;
}

.matcustomRadio{
  margin-left: 10%;
  margin-top: 25px;
  /* margin-bottom: 10px; */
}

.TestValue{
  margin-top: 10px;
}
