<div class="container step-wizard-container">
  <form [formGroup]="academicInfoForm">
    <div class="row">
      <div class="col-md-12 mb-2">
        <mat-label
          >15. {{ lang.language.subjectMostLiked }}
          <span
            class="mat-placeholder-required mat-form-field-required-marker"
          >
            *</span
          ></mat-label
        >
        <div class="col-md-12 labelRow">
          <div>
            <mat-label
              >a) {{ lang.language.subject1 }}
              <span
                class="mat-placeholder-required mat-form-field-required-marker"
              >
                *</span
              ></mat-label
            >
          </div>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-select formControlName="most_liked_subject1">
              <ng-container
                *ngFor="let item of lang.language.intrestedSubjectData"
              >
                <mat-option [value]="item">{{ item }}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-12 labelRow">
          <div>
            <mat-label
              >b) {{ lang.language.subject2 }}
              <span
                class="mat-placeholder-required mat-form-field-required-marker"
              >
                *</span
              ></mat-label
            >
          </div>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-select formControlName="most_liked_subject2">
              <ng-container
                *ngFor="let item of lang.language.intrestedSubjectData"
              >
                <mat-option [value]="item">{{ item }}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-12 labelRow">
          <div>
            <mat-label
              >c) {{ lang.language.subject3 }}
              <span
                class="mat-placeholder-required mat-form-field-required-marker"
              >
                *</span
              ></mat-label
            >
          </div>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-select formControlName="most_liked_subject3">
              <ng-container
                *ngFor="let item of lang.language.intrestedSubjectData"
              >
                <mat-option [value]="item">{{ item }}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
        </div>

      </div>

      <div class="col-md-12 mb-2">
        <mat-label
          >16. {{ lang.language.subjectLeastLiked }}
          <span
            class="mat-placeholder-required mat-form-field-required-marker"
          >
            *</span
          ></mat-label
        >
        <div class="col-md-12 labelRow">
          <div>
            <mat-label
              >a) {{ lang.language.subject1 }}
              <span
                class="mat-placeholder-required mat-form-field-required-marker"
              >
                *</span
              ></mat-label
            >
          </div>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-select formControlName="least_liked_subject1">
              <ng-container
                *ngFor="let item of lang.language.intrestedSubjectData"
              >
                <mat-option [value]="item">{{ item }}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-12 labelRow">
          <div>
            <mat-label
              >b) {{ lang.language.subject2 }}
              <span
                class="mat-placeholder-required mat-form-field-required-marker"
              >
                *</span
              ></mat-label
            >
          </div>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-select formControlName="least_liked_subject2">
              <ng-container
                *ngFor="let item of lang.language.intrestedSubjectData"
              >
                <mat-option [value]="item">{{ item }}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-12 labelRow">
          <div>
            <mat-label
              >c) {{ lang.language.subject3 }}
              <span
                class="mat-placeholder-required mat-form-field-required-marker"
              >
                *</span
              ></mat-label
            >
          </div>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-select formControlName="least_liked_subject3">
              <ng-container
                *ngFor="let item of lang.language.intrestedSubjectData"
              >
                <mat-option [value]="item">{{ item }}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
        </div>
      </div>



    </div>
    <p class="mat-danger labelRow">(*) mandatory</p>
    <div>
      <button mat-button class="matButton" (click)="onClickNext()" >Next</button>
      <button mat-button class="matBackButton" (click)="onClickBack()" style="float: left">
        Back
      </button>
    </div>
  </form>
</div>
