<div class="container step-wizard-container">
  <form [formGroup]="academicInfoForm">
    <div class="row">

      <div class="col-md-12 labelRow">
        <div>
          <mat-label
            >10. {{ lang.language.intrestedSubject }}
            <span
              class="mat-placeholder-required mat-form-field-required-marker"
            >
              *</span
            ></mat-label
          >
        </div>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-select formControlName="mostIntrestedSubject" multiple>
            <ng-container
              *ngFor="let item of lang.language.intrestedSubjectData"
            >
              <mat-option [value]="item" [disabled]="academicInfoForm.get('mostIntrestedSubject').value.length >= 3 && !academicInfoForm.get('mostIntrestedSubject').value.includes(item)">{{ item }}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-md-12 labelRow">
        <div>
          <mat-label
            >11. {{ lang.language.unInrestedSubject }}
            <span
              class="mat-placeholder-required mat-form-field-required-marker"
            >
              *</span
            ></mat-label
          >
        </div>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-select formControlName="leastInterestedSubject" multiple>
            <ng-container
              *ngFor="let item of lang.language.intrestedSubjectData"
            >
              <mat-option [value]="item" [disabled]="academicInfoForm.get('leastInterestedSubject').value.length >= 3 && !academicInfoForm.get('leastInterestedSubject').value.includes(item)">{{ item }}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <p class="mat-danger labelRow">(*) mandatory</p>
    <div>
      <button mat-button class="matButton" (click)="onClickNext()" >Next</button>
      <button mat-button class="matBackButton" (click)="onClickBack()" style="float: left">
        Back
      </button>
    </div>
  </form>
</div>
