<div class="container-fluid mt-4rem pt-2">
    <div class="d-flex justify-content-center mt-5 ">
        <img src="/assets/images/icons/mentorship.png" class="h-50">
    </div>
    <div class="d-flex justify-content-center mt-3">
        <h3 class="section-header">{{lang.language.mentorFormTitle}}</h3>
    </div>
</div>
<!-- <img class="" src="/assets/images/icons/dots.png" height="">
<img class="" src="/assets/images/icons/dots.png" height=""> -->

<div class="container mt-3" [formGroup]="regForm">
    <!-- <div class="justify-content-between align-items-center"> -->
    <div class="row h-100">

        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 d-flex justify-content-center">
            <img class="img-radius" src="/assets/images/banner/mentor.png">
        </div>

        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 pt-2  d-flex justify-content-center">
            <div class="w-100">
                <div class="mb-4">
                    <input type="text" maxlength="45" class="form-control" formControlName="name"
                        [placeholder]="lang.language.name">
                    <small *ngIf="submitted && f.name.errors"
                        class="error-small-msg">{{lang.language.fieldRequired}}</small>
                </div>
                <div class="mb-4">
                    <input type="email" maxlength="45" class="form-control" formControlName="email"
                        [placeholder]="lang.language.email">
                    <small *ngIf="submitted && f.email.errors"
                        class="error-small-msg">{{lang.language.fieldRequired}}</small>
                </div>
                <div class="mb-4">
                    <input type="number" class="form-control" formControlName="mobileNumber"
                        [placeholder]="lang.language.mobileNumber">
                    <small *ngIf="submitted && f.mobileNumber.errors"
                        class="error-small-msg">{{lang.language.fieldRequired}}</small>
                </div>
                <div class="mb-4">
                    <input type="password" maxlength="25" class="form-control" formControlName="password"
                        [placeholder]="lang.language.password">
                    <small *ngIf="submitted && f.password.errors"
                        class="error-small-msg">{{lang.language.fieldRequired}}</small>
                </div>
                <div class="mb-4">
                    <input type="password" maxlength="25" class="form-control" formControlName="retypePassword"
                        [placeholder]="lang.language.retypePassword">
                    <small *ngIf="submitted && f.retypePassword.errors"
                        class="error-small-msg">{{lang.language.fieldRequired}}</small>
                </div>
                <div class="mb-4">
                    <input [placeholder]="lang.language.dob" formControlName="dob" min='1960-01-01' max='2005-01-01'
                        class="form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')">
                    <small *ngIf="submitted && f.dob.errors"
                        class="error-small-msg">{{lang.language.fieldRequired}}</small>
                </div>
            </div>
        </div>
        <!-- </div> -->
    </div>


    <div>
        <div class="px-4 py-2 mt-1 space bg-blue">
            <div class="py-2 pt-3 fw-500">{{lang.language.preferedMentorSubtitle}}</div>
            <div class="row d-flex justify-content-between">
                <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 px-2">
                    <div class="mb-3">
                        <select id="disabledSelect" formControlName="district" class="form-select"
                            (change)="fetchBlocks($any($event.target).value)">
                            <option value=null disabled selected>{{lang.language.district}}</option>
                            <option *ngFor="let item of jsondata.districts" [value]="item.district_name">
                                {{item.id}}.{{item.district_name}}</option>
                        </select>
                        <small *ngIf="submitted && f.district.errors"
                            class="error-small-msg">{{lang.language.fieldRequired}}</small>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 px-2">
                    <div class="mb-3">
                        <select id="disabledSelect" formControlName="block" class="form-select"
                            (change)="fetchSchools($any($event.target).value)">
                            <option value=null disabled selected>{{lang.language.block}}</option>
                            <option *ngFor="let item of blocksList;let i =index" [value]="item.block_name">
                                {{i+1}}.{{item.block_name}}</option>
                        </select>
                        <small *ngIf="submitted && f.block.errors"
                            class="error-small-msg">{{lang.language.fieldRequired}}</small>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 px-2">
                    <div class="mb-3">
                        <select id="disabledSelect" formControlName="school" class="form-select">
                            <option value=null disabled selected>{{lang.language.preferedSchool}}</option>
                            <option *ngFor="let item of schoolList;let i =index" [value]="item.school_name">
                                {{i+1}}.{{item.school_name}}</option>
                        </select>
                        <small *ngIf="submitted && f.school.errors"
                            class="error-small-msg">{{lang.language.fieldRequired}}</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="row d-flex justify-content-evenly px-5 ">
            <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8">
                <div class="mb-3">
                    <input type="text" maxlength="150" formControlName="address" class="form-control"
                        [placeholder]="lang.language.address">
                    <small *ngIf="submitted && f.address.errors"
                        class="error-small-msg">{{lang.language.fieldRequired}}</small>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                <div class="mb-3">
                    <input type="number" formControlName="pincode" class="form-control"
                        [placeholder]="lang.language.pincode">
                    <small *ngIf="submitted && f.pincode.errors"
                        class="error-small-msg">{{lang.language.fieldRequired}}</small>
                </div>
            </div>
        </div>


        <div class="row d-flex justify-content-evenly pb-2 pt-3 px-5">
            <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                <div class="mb-3">
                    <select id="disabledSelect" formControlName="qualification" class="form-select">
                        <option value=null disabled selected>{{lang.language.highestEducation}}</option>
                        <option>Diploma</option>
                        <option>Under Graduate</option>
                        <option>Post Graduate/Master</option>
                        <option>Doctrate</option>
                    </select>
                    <small *ngIf="submitted && f.qualification.errors"
                        class="error-small-msg">{{lang.language.fieldRequired}}</small>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                <div class="mb-3">
                    <input type="text" maxlength="50" class="form-control" formControlName="occupation"
                        [placeholder]="lang.language.occupation">
                    <small *ngIf="submitted && f.occupation.errors"
                        class="error-small-msg">{{lang.language.fieldRequired}}</small>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                <div class="mb-3">
                    <select id="disabledSelect" formControlName="expYears" class="form-select">
                        <option value=null disabled selected>{{lang.language.yearsofexp}}</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                        <option>10+</option>
                    </select>
                    <small *ngIf="submitted && f.expYears.errors"
                        class="error-small-msg">{{lang.language.fieldRequired}}</small>
                </div>
            </div>
        </div>

        <div class="row px-5 pb-4">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-center">
                <input type="text" maxlength="150" formControlName="interests" class="form-control"
                    [placeholder]="lang.language.interests">
                <div>
                    <small *ngIf="submitted && f.interests.errors"
                        class="error-small-msg">{{lang.language.fieldRequired}}</small>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="text-center pb-4">
    <button class="btn me-3 btn-secondary" (click)="toBack()">{{lang.language.back}}</button>
    <button class="btn me-3 btn-danger" (click)="resetForm()">{{lang.language.reset}}</button>
    <button class="btn btn-success" (click)="submitForm()">{{lang.language.submit}}</button>
</div>

<!--Phone Modal -->
<div class="modal fade" id="successModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content br-20">
            <div class="text-end pe-3 pt-2">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="toBack()"></button>
            </div>
            <div class="modal-body text-center">
                <div class="d-flex justify-content-center pb-2">
                    <img src="/assets/images/icons/mentorship.png" height="60">
                </div>
                <h1 class="d-blue pb-2">{{lang.language.thankyou}}!</h1>
                <div class="pb-3">
                    <h6>{{lang.language.modalSuccessMessage}}</h6>
                </div>
            </div>
        </div>
    </div>
</div>