<form action="">
    <h4>10th</h4>
    <table>
        <thead>
            <tr>
                <th colspan="2">Subject</th>
                <th>Total Marks</th>
                <th>Marks Obtained</th>
                <th>Subject Grade</th>
                <th>Remarks</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>English</td>
                <td>50</td>
                <td>50</td>
                <td>O</td>
                <td>Outstanding</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Mathematics</td>
                <td>50</td>
                <td>48</td>
                <td>O</td>
                <td>Outstanding</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Science</td>
                <td>46</td>
                <td>50</td>
                <td>O</td>
                <td>Outstanding</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Social Science</td>
                <td>50</td>
                <td>50</td>
                <td>O</td>
                <td>Outstanding</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Hindi</td>
                <td>50</td>
                <td>50</td>
                <td>O</td>
                <td>Outstanding</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Physical Education</td>
                <td>50</td>
                <td>50</td>
                <td>O</td>
                <td>Outstanding</td>
            </tr>
            <tr>
                <td>7</td>
                <td>Drawing</td>
                <td>50</td>
                <td>50</td>
                <td>O</td>
                <td>Outstanding</td>
            </tr>
            <tr>
                <td>8</td>
                <td>Sanskrit</td>
                <td>50</td>
                <td>50</td>
                <td>O</td>
                <td>Outstanding</td>
            </tr>
            <tr>
                <td>9</td>
                <td>Moral Science</td>
                <td>50</td>
                <td>50</td>
                <td>O</td>
                <td>Outstanding</td>
            </tr>
            <tr>
                <td></td>
                <td>total</td>
                <td>430</td>
                <td>444</td>
                <td></td>
                <td>Outstanding</td>
            </tr>
        </tbody>
    </table>

    <h4>11th</h4>
    <table>
        <thead>
            <tr>
                <th colspan="2">Subject</th>
                <th>Total Marks</th>
                <th>Marks Obtained</th>
                <th>Subject Grade</th>
                <th>Remarks</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>English</td>
                <td>50</td>
                <td>50</td>
                <td>O</td>
                <td>Outstanding</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Mathematics</td>
                <td>50</td>
                <td>48</td>
                <td>O</td>
                <td>Outstanding</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Science</td>
                <td>46</td>
                <td>50</td>
                <td>O</td>
                <td>Outstanding</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Social Science</td>
                <td>50</td>
                <td>50</td>
                <td>O</td>
                <td>Outstanding</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Hindi</td>
                <td>50</td>
                <td>50</td>
                <td>O</td>
                <td>Outstanding</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Physical Education</td>
                <td>50</td>
                <td>50</td>
                <td>O</td>
                <td>Outstanding</td>
            </tr>
            <tr>
                <td>7</td>
                <td>Drawing</td>
                <td>50</td>
                <td>50</td>
                <td>O</td>
                <td>Outstanding</td>
            </tr>
            <tr>
                <td>8</td>
                <td>Sanskrit</td>
                <td>50</td>
                <td>50</td>
                <td>O</td>
                <td>Outstanding</td>
            </tr>
            <tr>
                <td>9</td>
                <td>Moral Science</td>
                <td>50</td>
                <td>50</td>
                <td>O</td>
                <td>Outstanding</td>
            </tr>
            <tr>
                <td></td>
                <td>total</td>
                <td>430</td>
                <td>444</td>
                <td></td>
                <td>Outstanding</td>
            </tr>
        </tbody>
    </table>

    <h4>12th</h4>
    <table>
        <thead>
            <tr>
                <th colspan="2">Subject</th>
                <th>Total Marks</th>
                <th>Marks Obtained</th>
                <th>Subject Grade</th>
                <th>Remarks</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>English</td>
                <td>50</td>
                <td>50</td>
                <td>O</td>
                <td>Outstanding</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Mathematics</td>
                <td>50</td>
                <td>48</td>
                <td>O</td>
                <td>Outstanding</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Science</td>
                <td>46</td>
                <td>50</td>
                <td>O</td>
                <td>Outstanding</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Social Science</td>
                <td>50</td>
                <td>50</td>
                <td>O</td>
                <td>Outstanding</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Hindi</td>
                <td>50</td>
                <td>50</td>
                <td>O</td>
                <td>Outstanding</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Physical Education</td>
                <td>50</td>
                <td>50</td>
                <td>O</td>
                <td>Outstanding</td>
            </tr>
            <tr>
                <td>7</td>
                <td>Drawing</td>
                <td>50</td>
                <td>50</td>
                <td>O</td>
                <td>Outstanding</td>
            </tr>
            <tr>
                <td>8</td>
                <td>Sanskrit</td>
                <td>50</td>
                <td>50</td>
                <td>O</td>
                <td>Outstanding</td>
            </tr>
            <tr>
                <td>9</td>
                <td>Moral Science</td>
                <td>50</td>
                <td>50</td>
                <td>O</td>
                <td>Outstanding</td>
            </tr>
            <tr>
                <td></td>
                <td>total</td>
                <td>430</td>
                <td>444</td>
                <td></td>
                <td>Outstanding</td>
            </tr>
        </tbody>
    </table>
</form>
