<script>
  $(window).load(function () {
    $("#slider").flexslider({
      slideshow: true,
      animation: "fade",
      animationLoop: true,
      video: true,
      muted: true,

      /* reload video on navigation */
      before: function () {
        $("video").each(function () {
          $(this).get(0).load();
        });
      },
    });
  });

  function pauseslider() {
    $("#slider").flexslider("pause");
  }
  function playslider() {
    $("#slider").flexslider("play");
  }
  function resumeslider() {
    $("#slider").flexslider("next");
    $("#slider").flexslider("play");
  }
</script>

<div class="home-carousel mt-6">
  <!-- <div class="row"> -->
  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 margin-top-25">
    <div
      id="carouselExampleCaptions"
      class="carousel slide"
      data-bs-touch="true"
      data-bs-interval="60000"
      data-bs-ride="carousel"
    >
      <div class="main-banner">
        <span class="vision" style="font-family: Play">
          New visions for higher education towards 2025!
        </span>

        <span class="explore"> Explore More </span>

        <div
          class="d-flex flex-row bg-white justify-content-between w-100"
          style="height: 50px; border-radius: 10px"
        >
          <div
            class="d-flex flex-row justify-content-center align-items-center"
          >

            <div class="dropdown font-weight-bold" style="width: 108px;">
              <mat-select

            placeholder="Select" class="placeMat"
          >
            <mat-option
              >{{ lang.language.courses }}</mat-option
            >
            <mat-option

            >{{ lang.language.colleges }}</mat-option
          >
          <mat-option

          >{{ lang.language.entranceExam }}</mat-option
        >
        <mat-option

          >{{ lang.language.scholarships }}</mat-option
        >
        <mat-option

          >{{ lang.language.educationLoans }}</mat-option
        >
        <mat-option

          >{{ lang.language.careers }}</mat-option
        >
          </mat-select>
            </div>
            <div class="vertical-bar"></div>
            <div class="form-outline">

              <input
                type="text"
                [formControl]="myControl"
                id="formControlLg"
                class="form-control"
                placeholder="Search College, Courses etc"
                matInput
                [matAutocomplete]="auto"
              />
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>

            </div>
          </div>

          <div class="search-bar">
            <div class="search-text">Search</div>
            <img
              src="/assets/images/landing-page/search-icon.png"
              style="height: 25px; margin-left: 10px"
            />
          </div>
        </div>
      </div>
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="3"
          aria-label="Slide 4"
        ></button>
      </div>

      <div class="carousel-inner carousel-res">
        <div class="carousel-item active h-100">
          <img
            src="/assets/images/banner/3.jpg"
            class="d-block w-100 h-100"
            style="height: 480px"
            style="transform: scale(1.1)"
            alt="..."
          />
        </div>
        <div class="carousel-item h-100">
          <img
            src="/assets/images/banner/4.jpg"
            class="d-block w-100 h-100"
            style="height: 480px"
            alt="..."
          />
        </div>
        <div class="carousel-item h-100">
          <img
            src="/assets/images/banner/5.jpg"
            class="d-block w-100 h-100"
            style="height: 480px"
            style="transform: scale(1.1)"
            alt="..."
          />
        </div>
      </div>
    </div>
  </div>
  <!-- </div> -->
</div>

<!-- ---------------------------------------------Section 1 - Carousel---------------------- -->

<div class="m-3 d-flex row mt-5">
  <!-- Courses -->
  <div class="col-sm-6 col-md-6 col-lg-2 col-xl-2">
    <div
      class="card-banner card-banner-courses text-center cursor-pointer mb-3"
      (click)="chooseType('courses', lang.language.courses)"
    >
      <div class="icon-container" style="background-color: #940242">
        <img
          src="/assets/images/landing-page/course-icon.svg"
          class=""
          height="45"
        />
        <div class="">
          {{ lang.language.courses }}
        </div>
      </div>
    </div>
  </div>

  <!-- Colleges -->
  <div class="col-sm-6 col-md-6 col-lg-2 col-xl-2">
    <div
      class="card-banner card-banner-college text-center cursor-pointer mb-3"
      (click)="chooseType('colleges', lang.language.colleges)"
    >
      <div class="icon-container" style="background-color: #18a76b">
        <img
          src="/assets/images/landing-page/college-icon.svg"
          class=""
          height="45"
        />
        <div class="">
          {{ lang.language.colleges }}
        </div>
      </div>
    </div>
  </div>

  <!-- Entrance exams -->

  <div class="col-sm-6 col-md-6 col-lg-2 col-xl-2">
    <div
      class="card-banner card-banner-exams text-center cursor-pointer mb-3"
      (click)="chooseType('exams', lang.language.entranceExam)"
    >
      <div class="icon-container" style="background-color: #1f7499">
        <img
          src="/assets/images/landing-page/exam-icon.svg"
          class=""
          height="45"
        />
        <div class="">
          {{ lang.language.entranceExam }}
        </div>
      </div>
    </div>
  </div>

  <!-- Scholarships -->
  <div class="col-sm-6 col-md-6 col-lg-2 col-xl-2">
    <div
      class="card-banner card-banner-scholarships text-center cursor-pointer mb-3"
      (click)="chooseType('scholarships', lang.language.scholarships)"
    >
      <div class="icon-container" style="background-color: #f9b938">
        <img
          src="/assets/images/landing-page/scholarship-icon.svg"
          class=""
          height="45"
        />
        <div class="">
          {{ lang.language.scholarships }}
        </div>
      </div>
    </div>
  </div>

  <!-- Educational Loans -->
  <div class="col-sm-6 col-md-6 col-lg-2 col-xl-2">
    <div
      class="card-banner card-banner-loans text-center cursor-pointer mb-3"
      (click)="moveToLoans()"
    >
      <div class="icon-container" style="background-color: #896a98">
        <img
          src="/assets/images/landing-page/loans-icon.svg"
          class=""
          height="45"
        />
        <div class="">
          {{ lang.language.educationLoans }}
        </div>
      </div>
    </div>
  </div>

  <!-- Careers -->
  <div class="col-sm-6 col-md-6 col-lg-2 col-xl-2">
    <div
      class="card-banner card-banner-careers text-center cursor-pointer mb-3"
      (click)="chooseType('careers', lang.language.careers)"
    >
      <div class="icon-container" style="background-color: #55b5dd">
        <img
          src="/assets/images/landing-page/careers-icon.svg"
          class=""
          height="45"
        />
        <div class="">
          {{ lang.language.careers }}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mt-10 row p-3">
  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 hide-image">
    <img src="/assets/images/landing-logo.svg" class="" />
  </div>
  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
    <section class="fs-12 pt-0 pb-0">
      <div class="container">
        <div class="d-flex justify-content-between">
          <div class="section-heading mb-3 text-decoration-underline">
            <div class="">
              <span> {{ lang.language.whatNew }}!!</span>
            </div>
          </div>
          <div>
            <img
              src="/assets/images/landing-page/options.svg"
              class="options-button"
              height="27"
              style="margin-right: 10px"
            /><img
              src="/assets/images/landing-page/calender.svg"
              class="pb-1"
              height="30"
            />
          </div>
        </div>
      </div>
    </section>

    <marquee
      onmouseover="this.stop();"
      onmouseout="this.start();"
      scrollamount="5"
      direction="up"
      class="mt-2"
      class="fontMarquee"
      style="height: 310px"
    >
      <ul class="list-group list-group-flush">
        <ng-container *ngFor="let item of examsNotifications">
          <li class="d-flex py-4" *ngIf="item.startDate">
            <div class="col-1" style="margin-right: 10px">
              <time class="icon">
                <strong>{{ item?.startDate | date: "MMM" }}</strong>
                <span>{{ item?.startDate | date: "d" }}</span>
              </time>
            </div>
            <div class="col-8">
              <p>
                <a class="d-blue" [href]="item?.link" target="_blank">{{
                  item?.name
                }}</a>
              </p>
            </div>
          </li>
        </ng-container>
      </ul>
    </marquee>

    <div>
      <div class="d-flex py-4">
        <a
          target="_blank"
          href="../../assets/Uyar_Kalvi_Vazhikkatti_Book.pdf"
          class="d-flex flex-fill"
          ><button class="guidance flex-fill">
            Career Guidance - Class 11&12
            <img
              src="/assets/download.jpg"
              class=""
              height="20"
              style="margin-left: 12px"
            /></button
        ></a>
      </div>
    </div>
  </div>
</div>

<!-- ------------------------------------------Section 1 end------------------------------------- -->

<section class="mentor-section py-0">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
        <div class="d-flex justify-content-end-card pe-3">
          <img
            class="box-shadow-img img-mobile"
            src="/assets/images/landing-page/mentorchoose.png"
          />
          <div
            class="d-flex justify-content-center"
            style="display: block"
          ></div>
        </div>
        <div class="choose-button" style="color: #05396b">
          {{ lang.language.beMentor }}
        </div>
      </div>

      <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
        <div class="d-flex justify-content-end-card pe-3">
          <img
            class="box-shadow-img img-mobile"
            src="/assets/images/landing-page/sponsor.png"
          />
          <div
            class="d-flex justify-content-center"
            style="display: block"
          ></div>
        </div>

        <div class="choose-button" style="color: #ad1313">
          {{ lang.language.beSponsor }}
        </div>
      </div>

      <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
        <div class="d-flex justify-content-end-card pe-3">
          <img
            class="box-shadow-img img-mobile"
            src="/assets/images/landing-page/scholar.png"
          />
          <div
            class="d-flex justify-content-center"
            style="display: block"
          ></div>
        </div>
        <div class="choose-button" style="color: #ff206e">
          {{ lang.language.beScholarship }}
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ------------------------------------------Section 1 Testimony ------------------------------------- -->

<div class="container">
  <div class="row">
    <ng-container *ngFor="let item of testimonyItems">
      <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 box">
        <img class="testimony-image img-fluid" src="{{ item.src }}" />
        <div class="in-item">
          <span
            class="text-center"
            style="
              background-color: yellow;
              font-size: 10px;
              font-weight: bolder;
              border-radius: 3px;
              width: 30%;
              margin-top: -5px;
            "
            >{{ item.title }}</span
          >
          <span
            class="text-center"
            style="
              color: aliceblue;
              margin-top: 10px;
              margin-bottom: 10px;
              font-size: 10px;
              font-weight: bolder;
            "
            >{{ item.sentence }}</span
          >
        </div>
      </div>
    </ng-container>
  </div>
</div>

<section class="about-us fs-12 mb-5">
  <div class="container">
    <div class="d-flex justify-content-center">
      <h3 class="section-header">
        {{ lang.language.aboutVazhikaatti }}
      </h3>
    </div>
    <div class="section-font-color">
      <span class="top-ornament"></span>
      <p>
        {{ lang.language.aboutVazhikaattiContent }}
      </p>
      <br />
      <p>{{ lang.language.aboutVazhikaattiContent2 }}</p>
      <span class="bottom-ornament"></span>
    </div>
  </div>
</section>
