<div class="container step-wizard-container">
  <form [formGroup]="profileInfoFormGroup">
    <h5 class="mb-4" *ngIf="this.userDetails?.student_id">{{ this.userDetails?.emis_username }} - {{ this.userDetails.student_name }} - {{this.userDetails.udise_code}}</h5>
    <div class="row">
      <!-- <div class="col-md-6 labelRow">
        <mat-label
          >1. {{ lang.language.studentMedium }}
          <span class="mat-placeholder-required mat-form-field-required-marker">
            *</span
          ></mat-label
        >
        <div class="mathint">
          <mat-hint align="start"
          >{{ lang.language.studentMediumHint }}
        </mat-hint>
        </div>

        <mat-form-field class="example-full-width" appearance="fill">

          <mat-select formControlName="studentMedium">
            <ng-container *ngFor="let item of lang.language.languageData">
              <mat-option [value]="item"> {{ item }}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div> -->
      <div class="col-md-6 labelRow">
        <mat-label
          >1. {{ lang.language.schoolName }}
          <span class="mat-placeholder-required mat-form-field-required-marker">
            *</span
          ></mat-label
        >

        <div class="mathint">
          <mat-hint align="start"
          >{{ lang.language.studentMediumHint }}
        </mat-hint>
        </div>
        <mat-form-field class="example-full-width" appearance="fill">

          <input
            matInput
            type="text"
            placeholder=""
            formControlName="school_name"
            readonly
          />
        </mat-form-field>

      </div>
      <!-- <div class="col-md-6 labelRow">
        <mat-label
          >3. {{ lang.language.schoolLocation }}
          <span class="mat-placeholder-required mat-form-field-required-marker">
            *</span
          ></mat-label
        >
        <div class="mathint">
          <mat-hint align="start"
          >{{ lang.language.studentMediumHint }}
        </mat-hint>
        </div>
        <mat-form-field class="example-full-width" appearance="fill">

          <input
            matInput
            type="text"
            placeholder=""
            formControlName="school_location"
          />
        </mat-form-field>

      </div> -->
      <div class="col-md-6 labelRow">
        <mat-label
          >2. {{ lang.language.homeLocation }}
          <span class="mat-placeholder-required mat-form-field-required-marker">
            *</span
          ></mat-label
        >
        <div class="mathint">
          <mat-hint align="start"
          >{{ lang.language.homeLocationHint }}
        </mat-hint>
        </div>
        <mat-form-field class="example-full-width" appearance="fill">

          <mat-select formControlName="homeLocation">
            <ng-container *ngFor="let item of lang.language.homeLocationData">
              <mat-option [value]="item"> {{ item }}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div>
      <!-- <div class="col-md-6 labelRow">
        <mat-label
          >4. {{ lang.language.currentAddress }}
          <span class="mat-placeholder-required mat-form-field-required-marker">
            *</span
          ></mat-label
        >
        <div class="mathint">
          <mat-hint align="start"
          >{{ lang.language.studentMediumHint }}
        </mat-hint>
        </div>
        <mat-form-field class="example-full-width" appearance="fill">

          <input
            matInput
            type="text"
            placeholder=""
            formControlName="current_address"
          />
        </mat-form-field>

      </div> -->
      <div class="col-md-6 labelRow">
        <mat-label
          >3. {{ lang.language.phoneNumber }}
          <span class="mat-placeholder-required mat-form-field-required-marker">
            *</span
          ></mat-label
        >
        <div class="mathint">
          <mat-hint align="start"
          >{{ lang.language.studentMediumHint }}
        </mat-hint>
        </div>
        <mat-form-field class="example-full-width" appearance="fill">

          <input
            matInput
            type="number"
            placeholder=""
            formControlName="phone_number"
          />
        </mat-form-field>

      </div>
      <div class="col-md-6 labelRow">
        <mat-label
          >4. {{ lang.language.stausOfStay }}
          <span class="mat-placeholder-required mat-form-field-required-marker">
            *</span
          ></mat-label
        >
        <div class="mathint">
          <mat-hint align="start"
          >{{ lang.language.homeLocationHint }}
        </mat-hint>
        </div>
        <mat-form-field class="example-full-width" appearance="fill">

          <mat-select formControlName="status_of_stay">
            <ng-container *ngFor="let item of lang.language.statusData">
              <mat-option [value]="item"> {{ item }}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-6 labelRow">
        <mat-label
          >5. {{ lang.language.sibilings }}
          <span class="mat-placeholder-required mat-form-field-required-marker">
            *</span
          ></mat-label
        >

        <div class="mathint">
          <mat-hint align="start"
          >{{ lang.language.sibilingsHint }}
        </mat-hint>
        </div>
        <mat-form-field class="example-full-width" appearance="fill">

          <input
            matInput
            type="number"
            placeholder=""
            value="0"
            formControlName="siblings"
            [(ngModel)]="siblingsValue"
            (keyup)="keyPressNumericCharacter(siblingsValue, 'sibilings')"
          />
        </mat-form-field>

      </div>
      <div class="col-md-6 labelRow">
        <div>
          <mat-label class="radioLabel"
            >6. {{ lang.language.disabilityStatus }}
            <span
              class="mat-placeholder-required mat-form-field-required-marker"
            >
              *</span
            ></mat-label
          >
        </div>
        <div class="mathint">
      <mat-hint align="start"
      >{{ lang.language.studiedSchoolTypeHint }}
    </mat-hint>
    </div>
        <mat-radio-group
          class="example-full-width"
          aria-label="Select an option"
          formControlName="disability_status"
        >
          <ng-container *ngFor="let item of lang.language.disabilityStatusData">
            <mat-radio-button [value]="item">{{ item }}</mat-radio-button>
          </ng-container>
          <mat-error
            *ngIf="
              submitted && profileInfoFormGroup.get('disability_status').invalid
            "
            >This field is required</mat-error
          >
        </mat-radio-group>
      </div>

      <!-- <div class="col-md-6 labelRow">
        <mat-label
          >{{ lang.language.residentialAddress }}
          <span class="mat-placeholder-required mat-form-field-required-marker">
            *</span
          ></mat-label
        >
        <div class="mathint">
          <mat-hint align="start"
          >{{ lang.language.homeLocationHint }}
        </mat-hint>
        </div>
        <mat-form-field class="example-full-width" appearance="fill">

          <mat-select formControlName="residentialAddress">
            <ng-container *ngFor="let item of lang.language.residentialData">
              <mat-option [value]="item"> {{ item }}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div> -->
      <!-- <div class="col-md-6 labelRow">
        <mat-label
          >9. {{ lang.language.fatherOccupation }}
          <span class="mat-placeholder-required mat-form-field-required-marker">
            *</span
          ></mat-label
        >
        <div class="mathint">
          <mat-hint align="start"
          >{{ lang.language.fatherOccupationHint }}
        </mat-hint>
        </div>
        <mat-form-field class="example-full-width" appearance="fill">

          <mat-select formControlName="fatherOccupation">
            <ng-container
              *ngFor="let item of lang.language.fatherOccupationData"
            >
              <mat-option [value]="item"> {{ item }}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div> -->
      <!-- <div class="col-md-6 labelRow">
        <mat-label
          >{{ lang.language.fatherOccupationDetail }}
          </mat-label
        >
            <mat-form-field class="example-full-width" appearance="fill">

              <input
                matInput
                type="text"
                placeholder=""
                value=""
                formControlName="fatherOccupationDetail"
              />
            </mat-form-field>
          </div> -->

      <!-- <div class="col-md-6 labelRow">
        <mat-label
          >10. {{ lang.language.fatherEducation }}
          <span class="mat-placeholder-required mat-form-field-required-marker">
            *</span
          ></mat-label
        >
        <div class="mathint">
          <mat-hint align="start"
          >{{ lang.language.fatherEducationHint }}
        </mat-hint>
        </div>
        <mat-form-field class="example-full-width" appearance="fill">

          <mat-select formControlName="fatherQualification">
            <ng-container
              *ngFor="let item of lang.language.fatherEducationData"
            >
              <mat-option [value]="item"> {{ item }}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div> -->
      <!-- <div class="col-md-6 labelRow">
        <mat-label
          >11. {{ lang.language.motheOccupationType }}
          <span class="mat-placeholder-required mat-form-field-required-marker">
            *</span
          ></mat-label
        >
        <div class="mathint">
          <mat-hint align="start"
          >{{ lang.language.motheOccupationTypeHint }}
        </mat-hint>
        </div>
        <mat-form-field class="example-full-width" appearance="fill">

          <mat-select formControlName="motherOccupation">
            <ng-container
              *ngFor="let item of lang.language.motheOccupationTypeData"
            >
              <mat-option [value]="item"> {{ item }}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div> -->
      <!-- <div class="col-md-6 labelRow">
        <mat-label
          >{{ lang.language.motherOccupationDetails }}

          </mat-label
        >
            <mat-form-field class="example-full-width" appearance="fill">
              <input
                matInput
                type="text"
                placeholder=""
                value=""
                formControlName="motherOccupationDetail"
              />
            </mat-form-field>
          </div> -->

      <!-- <div class="col-md-6 labelRow">
        <mat-label
          >12. {{ lang.language.motherEducationalQualification }}
          <span class="mat-placeholder-required mat-form-field-required-marker">
            *</span
          ></mat-label
        >
        <div class="mathint">
          <mat-hint align="start"
          >{{ lang.language.motherEducationalQualificationHint }}
        </mat-hint>
        </div>
        <mat-form-field class="example-full-width" appearance="fill">

          <mat-select formControlName="motherQualification">
            <ng-container
              *ngFor="
                let item of lang.language.motherEducationalQualificationData
              "
            >
              <mat-option [value]="item"> {{ item }}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div> -->
        <!-- <div class="col-md-6 labelRow">
          <mat-label
          >13. {{ lang.language.familyAnnualIncome }}
          <span class="mat-placeholder-required mat-form-field-required-marker">
            *</span
          ></mat-label
        >
        <div class="mathint">
          <mat-hint align="start"
          >{{ lang.language.familyAnnualIncomeHint }}
        </mat-hint>
        </div>

            <mat-form-field class="example-full-width" appearance="fill">
              <mat-select formControlName="familyAnnualIncome">
                <ng-container
                  *ngFor="let item of lang.language.familyAnnualIncomeData"
                >
                  <mat-option [value]="item"> {{ item }}</mat-option>
                </ng-container>
              </mat-select>
            </mat-form-field>
          </div> -->
          <!-- <div class="col-md-6 labelRow">
            <div>
              <mat-label class="radioLabel"
                >14. {{ lang.language.studiedSchoolType }}
                <span
                  class="mat-placeholder-required mat-form-field-required-marker"
                >
                  *</span
                ></mat-label
              >
            </div>
            <div class="mathint">
          <mat-hint align="start"
          >{{ lang.language.studiedSchoolTypeHint }}
        </mat-hint>
        </div>
            <mat-radio-group
              class="example-full-width"
              aria-label="Select an option"
              formControlName="studiedSchoolType"
            >
              <ng-container *ngFor="let item of lang.language.radioButton">
                <mat-radio-button [value]="item">{{ item }}</mat-radio-button>
              </ng-container>
              <mat-error
                *ngIf="
                  submitted && profileInfoFormGroup.get('studiedSchoolType').invalid
                "
                >This field is required</mat-error
              >
            </mat-radio-group>
          </div> -->


    </div>
    <p class="mat-danger labelRow">(*) mandatory</p>
    <div>
      <button mat-button class="matButton" (click)="onClickNext()">Next</button>
    </div>
  </form>
</div>
