<div class="container step-wizard-container">
  <form [formGroup]="carrerGuidanceForm">
    <div class="row">
      <div class="col-md-12 labelRow">
        <div class="matLabelHeight">
          <mat-label class="radioLabel"
            >11. {{ lang.language.studenCareerGuidance }}
            <span
              class="mat-placeholder-required mat-form-field-required-marker"
            >
              *</span
            ></mat-label
          >
        </div>
        <mat-radio-group
          aria-label="Select an option"
          formControlName="career_guidance"
        >

          <mat-radio-button [value]="lang.language.radioButton[0]">{{ lang.language.radioButton[0] }}</mat-radio-button>
          <mat-radio-button [value]="lang.language.radioButton[1]">{{ lang.language.radioButton[1] }}</mat-radio-button>
         <div> <mat-error
            *ngIf="
              submitted &&
              carrerGuidanceForm.get('career_guidance')?.invalid
            "
            >This field is required</mat-error
          ></div>
        </mat-radio-group>
      </div>
</div>
    <p class="mat-danger labelRow">(*) mandatory</p>
    <div>
      <button mat-button class="matButton" (click)="onClickFormSubmit()" >Submit</button>
      <button mat-button class="matBackButton" (click)="onClickBack()" style="float: left">
        Back
      </button>
    </div>
  </form>
    <!--Phone Modal -->
    <div
    class="modal fade"
    id="successModal"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="successModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content br-20">
        <div class="text-end pe-3 pt-2">
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="toBack()"
          ></button>
        </div>
        <div class="modal-body text-center">
          <div class="d-flex justify-content-center pb-2">
            <img src="/assets/images/icons/education.png" height="60" />
          </div>
          <h1 class="d-blue pb-2">Submitted successfully!</h1>
        </div>
      </div>
    </div>
  </div>
  <div
    class="modal fade"
    id="alertModal"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="successModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content br-20">
        <div class="text-end pe-3 pt-2">
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="toClose()"
          ></button>
        </div>
        <div class="modal-body text-center">
          <p
            class="d-blue pb-4"
            style="font-size: 28px !important; color: #dc3545"
          >
          Your details are already submitted!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
