<div class="container step-wizard-container">
  <form [formGroup]="observerForm">
    <div class="row">
      <div class="col-md-12 labelRow
      ">
        <div>
          <mat-label
            >15. {{ lang.language.scholorshipExams }}
            <span
              class="mat-placeholder-required mat-form-field-required-marker"
            >
              *</span
            ></mat-label
          >

        </div>
        <div class="col-md-12 labelRow">
          <div class="matLabelHeight">
            <mat-label class="radioLabel"
              >a) {{ lang.language.scholorShipsExamData[0] }}
              <span
                class="mat-placeholder-required mat-form-field-required-marker"
              >
                *</span
              ></mat-label
            >
          </div>
          <mat-radio-group
            aria-label="Select an option"
            formControlName="nmms"
          >

            <mat-radio-button [value]="lang.language.radioButton[0]">{{ lang.language.radioButton[0] }}</mat-radio-button>
            <mat-radio-button [value]="lang.language.radioButton[1]">{{ lang.language.radioButton[1] }}</mat-radio-button>
           <div> <mat-error
              *ngIf="
                submitted &&
                observerForm.get('nmms')?.invalid
              "
              >This field is required</mat-error
            ></div>
          </mat-radio-group>
        </div>
        <div class="col-md-12 labelRow">
          <div class="matLabelHeight">
            <mat-label class="radioLabel"
              >b) {{ lang.language.scholorShipsExamData[1] }}
              <span
                class="mat-placeholder-required mat-form-field-required-marker"
              >
                *</span
              ></mat-label
            >
          </div>
          <mat-radio-group
            aria-label="Select an option"
            formControlName="trust"
          >

            <mat-radio-button [value]="lang.language.radioButton[0]">{{ lang.language.radioButton[0] }}</mat-radio-button>
            <mat-radio-button [value]="lang.language.radioButton[1]">{{ lang.language.radioButton[1] }}</mat-radio-button>
           <div> <mat-error
              *ngIf="
                submitted &&
                observerForm.get('nmms')?.invalid
              "
              >This field is required</mat-error
            ></div>
          </mat-radio-group>
        </div>
        <div class="col-md-12 labelRow">
          <div class="matLabelHeight">
            <mat-label class="radioLabel"
              >c) {{ lang.language.scholorShipsExamData[2] }}
              <span
                class="mat-placeholder-required mat-form-field-required-marker"
              >
                *</span
              ></mat-label
            >
          </div>
          <mat-radio-group
            aria-label="Select an option"
            formControlName="ntse"
          >

            <mat-radio-button [value]="lang.language.radioButton[0]">{{ lang.language.radioButton[0] }}</mat-radio-button>
            <mat-radio-button [value]="lang.language.radioButton[1]">{{ lang.language.radioButton[1] }}</mat-radio-button>
           <div> <mat-error
              *ngIf="
                submitted &&
                observerForm.get('ntse')?.invalid
              "
              >This field is required</mat-error
            ></div>
          </mat-radio-group>
        </div>
        <div class="col-md-12 labelRow">
          <div class="matLabelHeight">
            <mat-label class="radioLabel"
              >d) {{ lang.language.scholorShipsExamData[3] }}
              <span
                class="mat-placeholder-required mat-form-field-required-marker"
              >
                *</span
              ></mat-label
            >
          </div>
          <mat-radio-group
            aria-label="Select an option"
            formControlName="yasavi"
          >

            <mat-radio-button [value]="lang.language.radioButton[0]">{{ lang.language.radioButton[0] }}</mat-radio-button>
            <mat-radio-button [value]="lang.language.radioButton[1]">{{ lang.language.radioButton[1] }}</mat-radio-button>
           <div> <mat-error
              *ngIf="
                submitted &&
                observerForm.get('yasavi')?.invalid
              "
              >This field is required</mat-error
            ></div>
          </mat-radio-group>
        </div>
        <div class="col-md-12 labelRow">
          <div class="matLabelHeight">
            <mat-label class="radioLabel"
              >e) {{ lang.language.scholorShipsExamData[4] }}
              <span
                class="mat-placeholder-required mat-form-field-required-marker"
              >
                *</span
              ></mat-label
            >
          </div>
          <mat-radio-group
            aria-label="Select an option"
            formControlName="tamil_talent_test"
          >

            <mat-radio-button [value]="lang.language.radioButton[0]">{{ lang.language.radioButton[0] }}</mat-radio-button>
            <mat-radio-button [value]="lang.language.radioButton[1]">{{ lang.language.radioButton[1] }}</mat-radio-button>
           <div> <mat-error
              *ngIf="
                submitted &&
                observerForm.get('tamil_talent_test')?.invalid
              "
              >This field is required</mat-error
            ></div>
          </mat-radio-group>
        </div>
      </div>
    </div>

    <!-- <p class="mat-danger labelRow">(*) mandatory</p> -->
    <div>
      <button
        mat-button
        class="matButton"
        type="submit"
        (click)="onClickNext()"
      >
        Next
      </button>
      <button mat-button class="matBackButton" (click)="onClickBack()" style="float: left">
        Back
      </button>
    </div>
  </form>
</div>
